<style>
	#car {
		display: none;
	}
	#par {
		display: none;
	}
	#scar {
		display: none;
	}
	#ci {
		display: none;
	}
	#ncmr {
		display: none;
	}
</style>

<div class="container">
	<%= form_for @cpar, html: {class: "form-horizontal"} do |f| %>
		<div class="row">
			<div class="col-md-12">

			<div id="choose">
				<h2>Select CPAR Form</h2>
				<p>
					<%= f.select(:form, options_for_select( [['Choose Form', 'Choose Form'],['Preventive Action', 'Preventive Action'], ['Corrective Action', 'Corrective Action'],['Non-Conforming Material', 'Non-Conforming Material'], ['Supplier Corrective Action', 'Supplier Corrective Action'], ['Continual Improvement', 'Continual Improvement'],]), {} ,{ class: "btn btn-default dropdown-toggle", :onchange=>"showDiv(this)" }) %>
				</p>

			<% end %>

			<div id="par">
				<h2>Preventive Action Report (PAR)</h2>
				<%= form_for :cpar, html: {class: "form-horizontal"}, url: cpars_path do |par| %>

				<p>
			    <%= par.label :program_enum, "Program Enumeration" %>
					<%= par.select(:program_enum, options_for_select([["01", "01"],["02", "02"]]),{ class: "btn btn-default dropdown-toggle" }) %>
			  </p>

				<p>
					<%= par.select(:form, options_for_select([['Preventive Action', 'Preventive Action']]), {} ,{ class: "btn btn-default dropdown-toggle", :onchange=>"showDiv(this)" }) %>
				</p>

				<p>
					<%= par.label :program, "Program:" %>
					<%= par.select(:program, options_for_select([['Corporate', 'Corporate'], ['MCTF', 'MCTF'],['TAF', 'TAF'], ['ESTS', 'ESTS'], ['UAEAF', 'UAEAF'], ['DAW', 'DAW'], ['IRAD', 'IRAD']]),{ class: "btn btn-default dropdown-toggle" }) %>
				</p>

				<p>
					<%= par.label :cpar_source, "CPAR Source:" %>
					<%= par.select(:cpar_source, options_for_select([['Audit Nonconformity', 'Audit Nonconformity'], ['Customer Complaint', 'Customer Complaint'],['Missed Schedule', 'Missed Schedule'], ['Non-responsive', 'Non-responsive'], ['Inspection', 'Inspection'], ['Test', 'Test'], ['Other (Internal)', 'Other (Internal)'], ['Other (External)', 'Other (External)']]), { class: "btn btn-default dropdown-toggle" }) %>
				</p>

				<p>
					<%= par.label :category_phase, "Category Phase:" %>		
					<%= par.select(:category_phase, options_for_select([['Receiving Inspection', 'Receiving Inspection'],['Test Failure', 'Test Failure'], ['SIL Test', 'SIL Test'], ['Guidance Doc.', 'Guidance Doc.'], ['Other Doc. (Specify)', 'Other Doc (Specify)'], ['Integration & Test', 'Integration & Test'], ['Gnd/Flt Test', 'Gnd/Flt Test'], ['In Service', 'In Service'], ['Other (Specify)', 'Other (Specify)']]), { class: "btn btn-default dropdown-toggle" }) %>
				</p>

				<p>
				  <%= par.label :specific_source, "Specific Source" %>
				  <%= par.text_field :specific_source, class: "form-control" %>
				</p>

				<p>
				  <%= par.label :other_category, "Other Category" %>
				  <%= par.text_field :other_category, class: "form-control" %>
				</p>

				<hr>
				<h3>Raised By</h3>
				<p>
				  <%= par.text_field :raised_by, class: "form-control" %>
				</p>

				<p>
				  <%= par.label :assigned_to, "Assigned To" %>
				  <%= par.text_field :assigned_to, class: "form-control" %>
			  </p>

				<p>
				  <%= par.label :date, "Date" %>
				  <%= par.date_field :date, class: "form-control" %>
				</p>

			  <p>
			    <%= par.label :raised_by_remarks, "Remarks" %>
			    <%= par.text_area :raised_by_remarks, class: "form-control" %>
			  </p>

			  <hr>
			  <h3>Solution Required By</h3>
				<p>
			    <%= par.date_field :solution_required_by_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= par.label :solution_required_remarks, "Solution Required Remarks" %>
			    <%= par.text_field :solution_required_remarks, class: "form-control" %>
			  </p>

			  <p>
			    <%= par.label :form_completed_by, "Form Completed by" %>
			    <%= par.text_field :form_completed_by, class: "form-control" %>
			  </p>

				  <p>
				    <%= par.label :form_completed_by_date, "Date" %>
				    <%= par.date_field :form_completed_by_date, class: "form-control" %>
				  </p>

				  <p>
				    <%= par.label :form_completed_by_remarks, "Remarks" %>
				    <%= par.text_area :form_completed_by_remarks, class: "form-control" %>
				  </p>
				<hr>
		  	<h3>Finding</h3>
			  <p>
			    <%= par.text_area :finding, class: "form-control" %>
			  </p>

			  <p>
			    <%= par.label :finding_impact, "Finding Impact" %>
			    <%= par.text_area :finding_impact, class: "form-control" %>
			  </p>

			  <hr>
			  
			  <h3>Proposed Immediate Action</h3>
			  <p>
			    <%= par.text_area :proposed_immediate_action, class: "form-control" %>
			  </p>

			  <p>
			    <%= par.label :proposed_immediate_action_completed_by, "Completed By" %>
			    <%= par.text_field :proposed_immediate_action_completed_by, class: "form-control" %>
			  </p>

				<p>
			    <%= par.label :proposed_immediate_action_date, "Date" %>
			    <%= par.date_field :proposed_immediate_action_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= par.label :proposed_immediate_action_remarks, "Remarks" %>
			    <%= par.text_field :proposed_immediate_action_remarks, class: "form-control" %>
			  </p>
			  <hr>

			  <h3>Root Cause Analysis</h3>
			  <p>
			    <%= par.label :root_cause_analysis_required, "Root Cause Analysis Required" %>
					<%= par.select(:root_cause_analysis_required, options_for_select([["NO", "NO"],["YES", "YES"]]),{ class: "btn btn-default dropdown-toggle" }) %>
			  </p>

			  <p>
			    <%= par.label :underlying_root_cause, "Underlying Root Cause" %>
			    <%= par.text_field :underlying_root_cause, class: "form-control" %>
			  </p>

			  <p>
			    <%= par.label :determined_by, "Determined By" %>
			    <%= par.text_field :determined_by, class: "form-control" %>
			  </p>

			  <p>
			    <%= par.label :underlying_root_cause_date, "Underlying Root Cause Date" %><br>
			    <%= par.date_field :underlying_root_cause_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= par.label :underlying_root_cause_remarks, "Underlying Root Cause Remarks" %>
			    <%= par.text_field :underlying_root_cause_remarks, class: "form-control" %>
			  </p>

			  <hr>
			  
			  <h3>Proposed Action for Long-term Solution</h3>
			  <p>
			    <%= par.text_field :proposed_action_for_longterm_solution, class: "form-control" %>
			  </p>

			  <p>
			    <%= par.label :proposed_immediate_action_completed_by, "Completed By" %>
			    <%= par.text_field :proposed_immediate_action_completed_by, class: "form-control" %>
			  </p>

			  <p>
			    <%= par.label :proposed_action_for_longterm_solution_date, "Date" %>
			    <%= par.date_field :proposed_action_for_longterm_solution_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= par.label :proposed_action_for_longterm_solution_remarks, "Remarks" %>
			    <%= par.text_field :proposed_action_for_longterm_solution_remarks, class: "form-control" %>
			  </p>
			  
			  <hr>
				
				<h3>Evaluation of Effectiveness of Action</h3>
			  
			  <p>
			    <%= par.text_area :evaluation_of_effectiveness_of_action, class: "form-control" %>
			  </p>

			  <p>
			    <%= par.label :objective_evidence, "Objective Evidence" %>
			    <%= par.text_field :objective_evidence, class: "form-control" %>
			  </p>

			  <p>
			    <%= par.label :closed_out_by, "Closed Out By" %>
			    <%= par.text_field :closed_out_by, class: "form-control" %>
			  </p>

			  <p>
			    <%= par.label :evaluation_of_effectiveness_of_action_date, "Date" %>
			    <%= par.date_field :evaluation_of_effectiveness_of_action_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= par.label :evaluation_of_effectiveness_of_action_remarks, "Remarks" %>
			    <%= par.text_area :evaluation_of_effectiveness_of_action_remarks, class: "form-control" %>
			  </p>
			  <form class="form-signin">
		  	<p>
		    	<%= par.submit "Submit", class: "btn btn-lg btn-primary btn-block" %>
		  	</p>
				<% end %>
			</div><!-- /par -->

			<div id="car">
				<h2>Corrective Action Report (CAR)</h2>
				<%= form_for :cpar, html: {class: "form-horizontal"}, url: cpars_path do |car| %>

				<p>
			    <%= car.label :program_enum, "Program Enumeration" %>
					<%= car.select(:program_enum, options_for_select([["01", "01"],["02", "02"]]),{ class: "btn btn-default dropdown-toggle" }) %>
			  </p>

				<p>
					<%= car.select(:form, options_for_select([['Corrective Action', 'Corrective Action']]), {} ,{ class: "btn btn-default dropdown-toggle", :onchange=>"showDiv(this)" }) %>
				</p>

				<p>
					<%= car.label :program, "Program:" %>
					<%= car.select(:program, options_for_select([['Corporate', 'Corporate'], ['MCTF', 'MCTF'],['TAF', 'TAF'], ['ESTS', 'ESTS'], ['UAEAF', 'UAEAF'], ['DAW', 'DAW'], ['IRAD', 'IRAD']]),{ class: "btn btn-default dropdown-toggle" }) %>
				</p>

				<p>
					<%= car.label :cpar_source, "CPAR Source:" %>
					<%= car.select(:cpar_source, options_for_select([['Audit Nonconformity', 'Audit Nonconformity'], ['Customer Complaint', 'Customer Complaint'],['Missed Schedule', 'Missed Schedule'], ['Non-responsive', 'Non-responsive'], ['Inspection', 'Inspection'], ['Test', 'Test'], ['Other (Internal)', 'Other (Internal)'], ['Other (External)', 'Other (External)']]), { class: "btn btn-default dropdown-toggle" }) %>
				</p>

				<p>
					<%= car.label :category_phase, "Category Phase:" %>		
					<%= car.select(:category_phase, options_for_select([['Receiving Inspection', 'Receiving Inspection'],['Test Failure', 'Test Failure'], ['SIL Test', 'SIL Test'], ['Guidance Doc.', 'Guidance Doc.'], ['Other Doc. (Specify)', 'Other Doc (Specify)'], ['Integration & Test', 'Integration & Test'], ['Gnd/Flt Test', 'Gnd/Flt Test'], ['In Service', 'In Service'], ['Other (Specify)', 'Other (Specify)']]), { class: "btn btn-default dropdown-toggle" }) %>
				</p>

				<p>
				  <%= car.label :specific_source, "Specific Source" %>
				  <%= car.text_field :specific_source, class: "form-control" %>
				</p>

				<p>
				  <%= car.label :other_category, "Other Category" %>
				  <%= car.text_field :other_category, class: "form-control" %>
				</p>

				<hr>
				<h3>Raised By</h3>
				<p>
				  <%= car.text_field :raised_by, class: "form-control" %>
				</p>

				<p>
				  <%= car.label :assigned_to, "Assigned To" %>
				  <%= car.text_field :assigned_to, class: "form-control" %>
			  </p>

				<p>
				  <%= car.label :date, "Date" %>
				  <%= car.date_field :date, class: "form-control" %>
				</p>

			  <p>
			    <%= car.label :raised_by_remarks, "Remarks" %>
			    <%= car.text_area :raised_by_remarks, class: "form-control" %>
			  </p>

			  <hr>
			  <h3>Solution Required By</h3>
				<p>
			    <%= car.date_field :solution_required_by_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= car.label :solution_required_remarks, "Solution Required Remarks" %>
			    <%= car.text_field :solution_required_remarks, class: "form-control" %>
			  </p>

			  <p>
			    <%= car.label :form_completed_by, "Form Completed by" %>
			    <%= car.text_field :form_completed_by, class: "form-control" %>
			  </p>

				  <p>
				    <%= car.label :form_completed_by_date, "Date" %>
				    <%= car.date_field :form_completed_by_date, class: "form-control" %>
				  </p>

				  <p>
				    <%= car.label :form_completed_by_remarks, "Remarks" %>
				    <%= car.text_area :form_completed_by_remarks, class: "form-control" %>
				  </p>
				<hr>
		  	<h3>Finding</h3>
			  <p>
			    <%= car.text_area :finding, class: "form-control" %>
			  </p>

			  <p>
			    <%= car.label :finding_impact, "Finding Impact" %>
			    <%= car.text_area :finding_impact, class: "form-control" %>
			  </p>

			  <hr>
			  
			  <h3>Proposed Immediate Action</h3>
			  <p>
			    <%= car.text_area :proposed_immediate_action, class: "form-control" %>
			  </p>

			  <p>
			    <%= car.label :proposed_immediate_action_completed_by, "Completed By" %>
			    <%= car.text_field :proposed_immediate_action_completed_by, class: "form-control" %>
			  </p>

				<p>
			    <%= car.label :proposed_immediate_action_date, "Date" %>
			    <%= car.date_field :proposed_immediate_action_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= car.label :proposed_immediate_action_remarks, "Remarks" %>
			    <%= car.text_field :proposed_immediate_action_remarks, class: "form-control" %>
			  </p>
			  <hr>

			  <h3>Root Cause Analysis</h3>
			  <p>
			    <%= car.label :root_cause_analysis_required, "Root Cause Analysis Required" %>
					<%= car.select(:root_cause_analysis_required, options_for_select([["NO", "NO"],["YES", "YES"]]),{ class: "btn btn-default dropdown-toggle" }) %>
			  </p>

			  <p>
			    <%= car.label :underlying_root_cause, "Underlying Root Cause" %>
			    <%= car.text_field :underlying_root_cause, class: "form-control" %>
			  </p>

			  <p>
			    <%= car.label :determined_by, "Determined By" %>
			    <%= car.text_field :determined_by, class: "form-control" %>
			  </p>

			  <p>
			    <%= car.label :underlying_root_cause_date, "Underlying Root Cause Date" %><br>
			    <%= car.date_field :underlying_root_cause_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= car.label :underlying_root_cause_remarks, "Underlying Root Cause Remarks" %>
			    <%= car.text_field :underlying_root_cause_remarks, class: "form-control" %>
			  </p>

			  <hr>
			  
			  <h3>Proposed Action for Long-term Solution</h3>
			  <p>
			    <%= car.text_field :proposed_action_for_longterm_solution, class: "form-control" %>
			  </p>

			  <p>
			    <%= car.label :proposed_immediate_action_completed_by, "Completed By" %>
			    <%= car.text_field :proposed_immediate_action_completed_by, class: "form-control" %>
			  </p>

			  <p>
			    <%= car.label :proposed_action_for_longterm_solution_date, "Date" %>
			    <%= car.date_field :proposed_action_for_longterm_solution_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= car.label :proposed_action_for_longterm_solution_remarks, "Remarks" %>
			    <%= car.text_field :proposed_action_for_longterm_solution_remarks, class: "form-control" %>
			  </p>
			  
			  <hr>
				
				<h3>Evaluation of Effectiveness of Action</h3>
			  
			  <p>
			    <%= car.text_area :evaluation_of_effectiveness_of_action, class: "form-control" %>
			  </p>

			  <p>
			    <%= car.label :objective_evidence, "Objective Evidence" %>
			    <%= car.text_field :objective_evidence, class: "form-control" %>
			  </p>

			  <p>
			    <%= car.label :closed_out_by, "Closed Out By" %>
			    <%= car.text_field :closed_out_by, class: "form-control" %>
			  </p>

			  <p>
			    <%= car.label :evaluation_of_effectiveness_of_action_date, "Date" %>
			    <%= car.date_field :evaluation_of_effectiveness_of_action_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= car.label :evaluation_of_effectiveness_of_action_remarks, "Remarks" %>
			    <%= car.text_area :evaluation_of_effectiveness_of_action_remarks, class: "form-control" %>
			  </p>
			  <form class="form-signin">
		  	<p>
		    	<%= car.submit "Submit", class: "btn btn-lg btn-primary btn-block" %>
		  	</p>
				<% end %>
			</div><!-- /car -->

			<div id="ncmr">
				<%= form_for :cpar, html: {class: "form-horizontal"}, url: cpars_path do |ncmr| %>

				<h2>Non-Conforming Material Report (NCMR)</h2> 

				<p>
			    <%= ncmr.label :program_enum, "Program Enumeration" %>
					<%= ncmr.select(:program_enum, options_for_select([["01", "01"],["02", "02"]]),{ class: "btn btn-default dropdown-toggle" }) %>
			  </p>

				<p>
					<%= ncmr.select(:form, options_for_select([['Non-Conforming Material', 'Non-Conforming Material']]), {} ,{ class: "btn btn-default dropdown-toggle", :onchange=>"showDiv(this)" }) %>
				</p>


				<p>
				  <%= ncmr.label :program, "Program:" %>
				  <%= ncmr.select(:program, options_for_select([['Corporate', 'Corporate'], ['MCTF', 'MCTF'],['TAF', 'TAF'], ['ESTS', 'ESTS'], ['UAEAF', 'UAEAF'], ['DAW', 'DAW'], ['IRAD', 'IRAD']]),{ class: "btn btn-default dropdown-toggle" }) %>
				</p>

				<p>
				  <%= ncmr.label :cpar_source, "CPAR Source:" %>
				  <%= ncmr.select(:cpar_source, options_for_select([['Audit Nonconformity', 'Audit Nonconformity'], ['Customer Complaint', 'Customer Complaint'],['Missed Schedule', 'Missed Schedule'], ['Non-responsive', 'Non-responsive'], ['Inspection', 'Inspection'], ['Test', 'Test'], ['Other (Internal)', 'Other (Internal)'], ['Other (External)', 'Other (External)']]), { class: "btn btn-default dropdown-toggle" }) %>
				</p>

			  <p>
					<%= ncmr.label :category_phase, "Category Phase:" %>		
				  <%= ncmr.select(:category_phase, options_for_select([['Receiving Inspection', 'Receiving Inspection'],['Test Failure', 'Test Failure'], ['SIL Test', 'SIL Test'], ['Guidance Doc.', 'Guidance Doc.'], ['Other Doc. (Specify)', 'Other Doc (Specify)'], ['Integration & Test', 'Integration & Test'], ['Gnd/Flt Test', 'Gnd/Flt Test'], ['In Service', 'In Service'], ['Other (Specify)', 'Other (Specify)']]), { class: "btn btn-default dropdown-toggle" }) %>
			  </p>

			  <p>
			    <%= ncmr.label :specific_source, "Specific Source"  %>
			    <%= ncmr.text_field :specific_source, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :other_category, "Other Category" %>
			    <%= ncmr.text_field :other_category, class: "form-control" %>
			  </p>

			  <hr>

			  <h3>Raised By</h3>

			  <p>
			    <%= ncmr.text_field :raised_by, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :assigned_to, "Assigned To" %>
			    <%= ncmr.text_field :assigned_to, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :date, "Date" %>
			    <%= ncmr.date_field :date, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :raised_by_remarks, "Raised by Remarks" %>
			    <%= ncmr.text_area :raised_by_remarks, class: "form-control" %>
			  </p>

			  <hr>

			  <h3>Solution Required By</h3>
			  <p>
			    <%= ncmr.date_field :solution_required_by_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :solution_required_remarks, "Solution Required Remarks" %>
			    <%= ncmr.text_field :solution_required_remarks, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :form_completed_by, "Form Completed by" %>
			    <%= ncmr.text_field :form_completed_by, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :form_completed_by_date, "Form Completed by Date" %>
			    <%= ncmr.date_field :form_completed_by_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :form_completed_by_remarks, "Form Completed by Remarks" %>
			    <%= ncmr.text_field :form_completed_by_remarks, class: "form-control" %>
			  </p>
			  
			  <hr>

	  		<h3>If Non Conforming Material</h3>

				<p>
			    <%= ncmr.label :affects_delivered_product, "Affects Delivered Product" %>
					<%= ncmr.select(:affects_delivered_product, options_for_select([["NO", "NO"],["YES", "YES"]]),{ class: "btn btn-default dropdown-toggle" }) %>
			  </p>

			  <p>
			    <%= ncmr.label :affects_delivered_product_describe, "Affects Delivered Product Describe" %>
			    <%= ncmr.text_area :affects_delivered_product_describe, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :manufacturer, "Manufacturer" %>
			    <%= ncmr.text_area :manufacturer, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :supplier, "Supplier" %>
			    <%= ncmr.text_field :supplier, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :part_number, "Part Number" %>
			    <%= ncmr.text_field :part_number, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :nomenclature, "Nomenclature" %>
			    <%= ncmr.text_area :nomenclature, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :quantity, "Quantity" %>
			    <%= ncmr.text_field :quantity, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :serial_numbers, "Serial Numbers" %>
			    <%= ncmr.text_field :serial_numbers, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :disposition, "Disposition:" %>
			    <%= ncmr.select(:disposition, options_for_select([['Use As Is', 'Use As Is'], ['Regrade', 'Regrade'],['Scrap', 'Scrap'], ['Return to Supplier', 'Return to Supplier'], ['Other Suppl. Action', 'Other Suppl. Action'], ['Rework', 'Rework'], ['N/A', 'N/A']]), { class: "btn btn-default dropdown-toggle" }) %>
			  </p>

			  <p>
			    <%= ncmr.label :supplier_action, "Supplier Action:" %>
			    <%= ncmr.select(:supplier_action, options_for_select([['Notify Customer', 'Notify Customer'], ['Request Waiver', 'Request Waiver'],['Request Authority to Scrap', 'Request Authority to Scrap'], ['Return to Supplier', 'Return to Supplier'], ['Other Suppl. Action', 'Other Suppl. Action'], ['Rework', 'Rework'], ['N/A', 'N/A']]), { class: "btn btn-default dropdown-toggle" }) %>			  
			  </p>

			  <p>
			    <%= ncmr.label :follow_up_action, "Follow up Action:" %>
			    <%= ncmr.select(:follow_up_action, options_for_select([['Write CAR', 'Write CAR'], ['Write PAR', 'Write PAR'],['Write SCAR', 'Write SCAR'], ['Re-inspect', 'Re-inspect'], ['Other (Specify', 'Other (Specify'], ['N/A', 'N/A']]), { class: "btn btn-default dropdown-toggle" }) %>
			  </p>

			  <p>
			    <%= ncmr.label :other_action, "Other Action" %>
			    <%= ncmr.text_field :other_action, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :disposition_by, "Disposition by" %>
			    <%= ncmr.text_field :disposition_by, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :disposition_date, "Date" %>
			    <%= ncmr.date_field :disposition_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :disposition_remarks, "Remarks" %>
			    <%= ncmr.text_field :disposition_remarks, class: "form-control" %>
			  </p>

			  <hr>

			  <h3>If Supplier Action</h3>
			  <p>
			    <%= ncmr.label :sub_contract_po_number, "Sub Contract PO Number" %>
			    <%= ncmr.text_field :sub_contract_po_number, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :rma_no, "RMA Number" %>
			    <%= ncmr.text_field :rma_no, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :supplier_name, "Supplier Name" %>
			    <%= ncmr.text_field :supplier_name, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :address, "Address" %>
			    <%= ncmr.text_field :address, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :point_of_contact, "Point of Contact" %>
			    <%= ncmr.text_field :point_of_contact, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :telephone, "Telephone" %>
			    <%= ncmr.telephone_field :telephone, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :mobile, "Mobile" %>
			    <%= ncmr.telephone_field :mobile, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :email, "Email" %>
			    <%= ncmr.text_field :email, class: "form-control" %>
			  </p>

			  <hr>

			  <h3>If Non-conformance</h3>
				  <p>
				  	<%= ncmr.label :finding, "Details of Non-conformance" %>
				    <%= ncmr.text_area :finding, class: "form-control" %>
				  </p>
				<h3>Impact of Non-conformance</h3>
				  <p>
				  	<%= ncmr.label :finding, "Impact of Non-conformance" %>
				    <%= ncmr.text_area :finding_impact, class: "form-control" %>
				  </p>

				<h4>

				<h3>Evaluation of Supplier Action</h3>
			  <p>
			    <%= ncmr.label :evaluation_of_effectiveness_of_action, "Evaluation of Effectiveness of Action" %>
			    <%= ncmr.text_area :evaluation_of_effectiveness_of_action, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :objective_evidence, "Objective Evidence" %>
			    <%= ncmr.text_field :objective_evidence, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :closed_out_by, "Closed Out By" %>
			    <%= ncmr.text_field :closed_out_by, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :evaluation_of_effectiveness_of_action_date, "Date" %>
			    <%= ncmr.date_field :evaluation_of_effectiveness_of_action_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= ncmr.label :evaluation_of_effectiveness_of_action_remarks, "Remarks" %>
			    <%= ncmr.text_area :evaluation_of_effectiveness_of_action_remarks, class: "form-control" %>
			  </p>
			  <form class="form-signin">
		  	<p>
		    	<%= ncmr.submit "Submit", class: "btn btn-lg btn-primary btn-block" %>
		  	</p>
				<% end %>
			</div><!-- /ncmr -->

			<div id="scar">
				<%= form_for :cpar, html: {class: "form-horizontal"}, url: cpars_path do |scar| %>

				<h2>Supplier Corrective Action Request (SCAR)</h2>
				
				<p>
			    <%= scar.label :program_enum, "Program Enumeration" %>
					<%= scar.select(:program_enum, options_for_select([["01", "01"],["02", "02"]]),{ class: "btn btn-default dropdown-toggle" }) %>
			  </p>

				<p>
					<%= scar.select(:form, options_for_select([['Supplier Corrective Action', 'Supplier Corrective Action']]), {} ,{ class: "btn btn-default dropdown-toggle", :onchange=>"showDiv(this)" }) %>
				</p>

				<p>
				  <%= scar.label :program, "Program:" %>
				  <%= scar.select(:program, options_for_select([['Corporate', 'Corporate'], ['MCTF', 'MCTF'],['TAF', 'TAF'], ['ESTS', 'ESTS'], ['UAEAF', 'UAEAF'], ['DAW', 'DAW'], ['IRAD', 'IRAD']]),{ class: "btn btn-default dropdown-toggle" }) %>
				</p>

				<p>
				  <%= scar.label :cpar_source, "CPAR Source:" %>
				  <%= scar.select(:cpar_source, options_for_select([['Audit Nonconformity', 'Audit Nonconformity'], ['Customer Complaint', 'Customer Complaint'],['Missed Schedule', 'Missed Schedule'], ['Non-responsive', 'Non-responsive'], ['Inspection', 'Inspection'], ['Test', 'Test'], ['Other (Internal)', 'Other (Internal)'], ['Other (External)', 'Other (External)']]), { class: "btn btn-default dropdown-toggle" }) %>
				</p>

			  <p>
					<%= scar.label :category_phase, "Category Phase:" %>		
				  <%= scar.select(:category_phase, options_for_select([['Receiving Inspection', 'Receiving Inspection'], ['Test Failure', 'Test Failure'], ['SIL Test', 'SIL Test'], ['Guidance Doc.', 'Guidance Doc.'], ['Other Doc. (Specify)', 'Other Doc (Specify)'], ['Integration & Test', 'Integration & Test'], ['Gnd/Flt Test', 'Gnd/Flt Test'], ['In Service', 'In Service'], ['Other (Specify)', 'Other (Specify)']]), { class: "btn btn-default dropdown-toggle" }) %>
			  </p>

			  <p>
			    <%= scar.label :specific_source, "Specific Source"  %>
			    <%= scar.text_field :specific_source, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :other_category, "Other Category" %>
			    <%= scar.text_field :other_category, class: "form-control" %>
			  </p>

			  <hr>
			  <h3>Raised By</h3>
			  <p>
			    <%= scar.text_field :raised_by, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :assigned_to, "Assigned To" %>
			    <%= scar.text_field :assigned_to, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :date, "Date" %>
			    <%= scar.date_field :date, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :raised_by_remarks, "Remarks" %>
			    <%= scar.text_area :raised_by_remarks, class: "form-control" %>
			  </p>

			  <hr>

			  <h3>Solution Required by Date</h3>
			  <p>
			    <%= scar.date_field :solution_required_by_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :solution_required_remarks, "Solution Required Remarks" %>
			    <%= scar.text_field :solution_required_remarks, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :form_completed_by, "Form Completed by" %>
			    <%= scar.text_field :form_completed_by, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :form_completed_by_date, "Form Completed by Date" %>
			    <%= scar.date_field :form_completed_by_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :form_completed_by_remarks, "Form Completed by Remarks" %>
			    <%= scar.text_field :form_completed_by_remarks, class: "form-control" %>
			  </p>

			  <hr>

			  <h3>(If Supplier Action)</h3>
			  <p>
			    <%= scar.label :sub_contract_po_number, "Sub Contract PO Number" %>
			    <%= scar.text_field :sub_contract_po_number, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :rma_no, "RMA Number" %>
			    <%= scar.text_field :rma_no, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :supplier_name, "Supplier Name" %>
			    <%= scar.text_field :supplier_name, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :address, "Address" %>
			    <%= scar.text_field :address, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :point_of_contact, "Point of Contact" %>
			    <%= scar.text_field :point_of_contact, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :telephone, "Telephone" %>
			    <%= scar.telephone_field :telephone, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :mobile, "Mobile" %>
			    <%= scar.telephone_field :mobile, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :email, "Email" %>
			    <%= scar.text_field :email, class: "form-control" %>
			  </p>

			  <hr>

		  	<h3>Finding</h3>
			  <p>
			    <%= scar.label :finding, "Finding" %>
			    <%= scar.text_area :finding, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :finding_impact, "Finding Impact" %>
			    <%= scar.text_area :finding_impact, class: "form-control" %>
			  </p>

			  <hr>

			  <h3>Proposed Immediate Action (Containment)</h3>
			  <p>
			    <%= scar.text_field :proposed_immediate_action, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :proposed_immediate_action_completed_by, "Completed By" %>
			    <%= scar.text_field :proposed_immediate_action_completed_by, class: "form-control" %>
			  </p>

				<p>
			    <%= scar.label :proposed_immediate_action_date, "Date" %>
			    <%= scar.date_field :proposed_immediate_action_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :proposed_immediate_action_remarks, "Remarks" %>
			    <%= scar.text_field :proposed_immediate_action_remarks, class: "form-control" %>
			  </p>

			  <hr>

			  <p>
			    <%= scar.label :root_cause_analysis_required, "Root Cause Analysis Required" %>
					<%= scar.select(:root_cause_analysis_required, options_for_select([["NO", "NO"],["YES", "YES"]]),{ class: "btn btn-default dropdown-toggle" }) %>
			  </p>


			  <h3>Underlying Root Cause</h3>
			  <p>
			    <%= scar.label :underlying_root_cause, "Underlying Root Cause" %>
			    <%= scar.text_area :underlying_root_cause, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :determined_by, "Determined By" %>
			    <%= scar.text_field :determined_by, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :underlying_root_cause_date, "Date" %><br>
			    <%= scar.date_field :underlying_root_cause_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :underlying_root_cause_remarks, "Remarks" %>
			    <%= scar.text_area :underlying_root_cause_remarks, class: "form-control" %>
			  </p>

			  <hr>

			  <h3>Proposed Action for Long-term Solution</h3>
			  <p>
			    <%= scar.text_area :proposed_action_for_longterm_solution, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :proposed_immediate_action_completed_by, "Completed By" %>
			    <%= scar.text_field :proposed_immediate_action_completed_by, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :proposed_action_for_longterm_solution_date, "Date" %>
			    <%= scar.date_field :proposed_action_for_longterm_solution_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :proposed_action_for_longterm_solution_remarks, "Proposed Action for Longterm Solution Remarks" %>
			    <%= scar.text_field :proposed_action_for_longterm_solution_remarks, class: "form-control" %>
			  </p>
			  
			  <hr>

				<h3>Evaluation of Supplier Action</h3>
			  <p>
			    <%= scar.label :evaluation_of_effectiveness_of_action, "Evaluation of Effectiveness of Action" %>
			    <%= scar.text_area :evaluation_of_effectiveness_of_action, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :objective_evidence, "Objective Evidence" %>
			    <%= scar.text_field :objective_evidence, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :closed_out_by, "Closed Out By" %>
			    <%= scar.text_field :closed_out_by, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :evaluation_of_effectiveness_of_action_date, "Date" %>
			    <%= scar.date_field :evaluation_of_effectiveness_of_action_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= scar.label :evaluation_of_effectiveness_of_action_remarks, "Remarks" %>
			    <%= scar.text_area :evaluation_of_effectiveness_of_action_remarks, class: "form-control" %>
			  </p>
				<form class="form-signin">
			  <p>
			    <%= scar.submit "Submit", class: "btn btn-lg btn-primary btn-block" %>
			  </p>
				<% end %>
			</div><!-- /scar -->

			<div id="ci">
				<%= form_for :cpar, html: {class: "form-horizontal"}, url: cpars_path do |ci| %>

				<h2>Continual Improvement Report (CI)</h2>

				<p>
			    <%= ci.label :program_enum, "Program Enumeration" %>
					<%= ci.select(:program_enum, options_for_select([["01", "01"],["02", "02"]]),{ class: "btn btn-default dropdown-toggle" }) %>
			  </p>
				<p>
					<%= ci.select(:form, options_for_select([['Continual Improvement', 'Continual Improvement']]), {} ,{ class: "btn btn-default dropdown-toggle", :onchange=>"showDiv(this)" }) %>
				</p>

				<p>
				  <%= ci.label :program, "Program:" %>
				  <%= ci.select(:program, options_for_select([['Corporate', 'Corporate'], ['MCTF', 'MCTF'],['TAF', 'TAF'], ['ESTS', 'ESTS'], ['UAEAF', 'UAEAF'], ['DAW', 'DAW'], ['IRAD', 'IRAD']]),{ class: "btn btn-default dropdown-toggle" }) %>
				</p>

				<p>
				  <%= ci.label :cpar_source, "CPAR Source:" %>
				  <%= ci.select(:cpar_source, options_for_select([['Audit Nonconformity', 'Audit Nonconformity'], ['Customer Complaint', 'Customer Complaint'],['Missed Schedule', 'Missed Schedule'], ['Non-responsive', 'Non-responsive'], ['Inspection', 'Inspection'], ['Test', 'Test'], ['Other (Internal)', 'Other (Internal)'], ['Other (External)', 'Other (External)']]), { class: "btn btn-default dropdown-toggle" }) %>
				</p>

			  <p>
					<%= ci.label :category_phase, "Category Phase:" %>		
				  <%= ci.select(:category_phase, options_for_select([['Receiving Inspection', 'Receiving Inspection'], ['Test Failure', 'Test Failure'], ['SIL Test', 'SIL Test'], ['Guidance Doc.', 'Guidance Doc.'], ['Other Doc. (Specify)', 'Other Doc (Specify)'], ['Integration & Test', 'Integration & Test'], ['Gnd/Flt Test', 'Gnd/Flt Test'], ['In Service', 'In Service'], ['Other (Specify)', 'Other (Specify)']]), { class: "btn btn-default dropdown-toggle" }) %>
			  </p>

			  <p>
			    <%= ci.label :specific_source, "Specific Source"  %>
			    <%= ci.text_field :specific_source, class: "form-control" %>
			  </p>

			  <p>
			    <%= ci.label :other_category, "Other Category" %>
			    <%= ci.text_field :other_category, class: "form-control" %>
			  </p>

			  <hr>

			  <h3>Raised By</h3>
			  <p>
			    <%= ci.text_field :raised_by, class: "form-control" %>
			  </p>

			  <p>
			    <%= ci.label :assigned_to, "Assigned To" %>
			    <%= ci.text_field :assigned_to, class: "form-control" %>
			  </p>

			  <p>
			    <%= ci.label :date, "Date" %>
			    <%= ci.date_field :date, class: "form-control" %>
			  </p>

			  <p>
			    <%= ci.label :raised_by_remarks, "Remarks" %>
			    <%= ci.text_area :raised_by_remarks, class: "form-control" %>
			  </p>

			  <h3>Solution Required by (Date)</h3>
			  <p>
			    <%= ci.date_field :solution_required_by_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= ci.label :solution_required_remarks, "Solution Required Remarks" %>
			    <%= ci.text_field :solution_required_remarks, class: "form-control" %>
			  </p>

			  <p>
			    <%= ci.label :form_completed_by, "Form Completed by" %>
			    <%= ci.text_field :form_completed_by, class: "form-control" %>
			  </p>

			  <p>
			    <%= ci.label :form_completed_by_date, "Date" %>
			    <%= ci.date_field :form_completed_by_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= ci.label :form_completed_by_remarks, "Remarks" %>
			    <%= ci.text_field :form_completed_by_remarks, class: "form-control" %>
			  </p>

			  <hr>

		  	<h3>Recommendation</h3>
			  <p>
			    <%= ci.label :finding, "Recommendation" %>
			    <%= ci.text_area :finding, class: "form-control" %>
			  </p>

			  <p>
			    <%= ci.label :finding_impact, "Rationale" %>
			    <%= ci.text_area :finding_impact, class: "form-control" %>
			  </p>

			  <hr>

			  <h3>Proposed Immediate Action (Containment)</h3>
			  <p>
			    <%= ci.text_area :proposed_immediate_action, class: "form-control" %>
			  </p>

			  <p>
			    <%= ci.label :proposed_immediate_action_completed_by, "Completed By" %>
			    <%= ci.text_field :proposed_immediate_action_completed_by, class: "form-control" %>
			  </p>

				<p>
			    <%= ci.label :proposed_immediate_action_date, "Date" %>
			    <%= ci.date_field :proposed_immediate_action_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= ci.label :proposed_immediate_action_remarks, "Remarks" %>
			    <%= ci.text_area :proposed_immediate_action_remarks, class: "form-control" %>
			  </p>

			  <hr>

			  <h3>Proposed Action for Long-term Solution</h3>
			  <p>
			    <%= ci.text_area :proposed_action_for_longterm_solution, class: "form-control" %>
			  </p>

			  <p>
			    <%= ci.label :proposed_immediate_action_completed_by, "Completed By" %>
			    <%= ci.text_field :proposed_immediate_action_completed_by, class: "form-control" %>
			  </p>

			  <p>
			    <%= ci.label :proposed_action_for_longterm_solution_date, "Date" %>
			    <%= ci.date_field :proposed_action_for_longterm_solution_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= ci.label :proposed_action_for_longterm_solution_remarks, "Remarks" %>
			    <%= ci.text_field :proposed_action_for_longterm_solution_remarks, class: "form-control" %>
			  </p>

			  <hr>
				
				<h3>Evaluation of Supplier Action</h3>
			  <p>
			    <%= ci.label :evaluation_of_effectiveness_of_action, "Evaluation of Effectiveness of Action" %>
			    <%= ci.text_field :evaluation_of_effectiveness_of_action, class: "form-control" %>
			  </p>

			  <p>
			    <%= ci.label :objective_evidence, "Objective Evidence" %>
			    <%= ci.text_field :objective_evidence, class: "form-control" %>
			  </p>

			  <p>
			    <%= ci.label :closed_out_by, "Closed Out By" %>
			    <%= ci.text_field :closed_out_by, class: "form-control" %>
			  </p>

			  <p>
			    <%= ci.label :evaluation_of_effectiveness_of_action_date, "Date" %>
			    <%= ci.date_field :evaluation_of_effectiveness_of_action_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= ci.label :evaluation_of_effectiveness_of_action_remarks, "Remarks" %>
			    <%= ci.text_area :evaluation_of_effectiveness_of_action_remarks, class: "form-control" %>
			  </p>
				<form class="form-signin">
			  <p>
			    <%= ci.submit "Submit", class: "btn btn-lg btn-primary btn-block" %>
			  </p>
				<% end %>
			</div><!-- /ci -->
		</div><!-- /col-12-md -->
	</div><!-- /row -->
</div> <!-- /container -->
<br>

<script>
	function showDiv(elem) {
	  if(elem.value == "Corrective Action")
		{
				document.getElementById("car").style.display = "block"; 
				document.getElementById("par").style.display = "none"; 
				document.getElementById("ncmr").style.display = "none";
				document.getElementById("scar").style.display = "none";
				document.getElementById("ci").style.display = "none";
		}

		if(elem.value == "Preventive Action")
		{
				document.getElementById("par").style.display = "block";
				document.getElementById("car").style.display = "none"; 
				document.getElementById("ncmr").style.display = "none";
				document.getElementById("scar").style.display = "none";
				document.getElementById("ci").style.display = "none";
		}

		if(elem.value == "Non-Conforming Material")
		{
				document.getElementById("ncmr").style.display = "block";
				document.getElementById("car").style.display = "none"; 
				document.getElementById("par").style.display = "none";
				document.getElementById("scar").style.display = "none";
				document.getElementById("ci").style.display = "none";

		}

		if(elem.value == "Supplier Corrective Action")
		{
				document.getElementById("scar").style.display = "block";
				document.getElementById("ncmr").style.display = "none";
				document.getElementById("par").style.display = "none";
				document.getElementById("car").style.display = "none"; 
				document.getElementById("ci").style.display = "none";
		}

		if(elem.value == "Continual Improvement")
		{
				document.getElementById("ci").style.display = "block";
				document.getElementById("scar").style.display = "none";
				document.getElementById("ncmr").style.display = "none";
				document.getElementById("par").style.display = "none";
				document.getElementById("car").style.display = "none"; 
		}
	} 
</script>