<div class="container">
<h1>CPAR <%= link_to "Create New CPAR", new_cpar_path, class: "btn btn-primary" %>
</h1>
  <% @cpars.each do |cpar| %>
  <table class="table table-hover">
    <td>
      
      <h4>
        iAT-00-02<%= cpar.id%>
      </h4>
      <%= cpar.form %><br>
      <%= cpar.program %><br>
      <%= cpar.category_phase %><br>
			<%= cpar.cpar_source %><br>

      |<%= link_to 'View', cpar_path(cpar), class: "btn-sm btn-primary" %>|
      |<%= link_to 'Edit', edit_cpar_path(cpar), class: "btn-sm btn-warning"%>|
      |<%= link_to 'Delete', cpar_path(cpar), class: "btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>|
    </td>
  <% end %>
  </table>