<div class="container">
  <div class="row">
  <form class="navbar-form navbar-right" role="search">
    <div class="form-group", id="form-search">
      <%= form_tag(cpars_path, :method => "get", class: "navbar-form navbar-right") do %>
        <em><%= text_field_tag :search, params[:search], placeholder: "Search CPARs...", class: "form-control" %></em>
        <%= submit_tag "Search", :name => nil, class: "btn-sm btn-primary" %>
      <% end %>
    </div>
  </form>
  <div class="col-md-3">
  <h1>CPAR</h1>

  <%= link_to "Create New CPAR", new_cpar_path, class: "btn btn-primary" %><br><br>

  <% @cpars.each do |cpar| %>
  <table class="table table-hover">
    <td>
      <% if cpar.form == "Preventive Action" %>
        <% @form_name = "PA" %>

        <% elsif cpar.form == 'Corrective Action' %>
          <% @form_name = "CA" %>
      
        <% elsif cpar.form == 'Non-Conforming Material' %>
          <% @form_name = "NC" %>

        <% elsif cpar.form == "Supplier Corrective Action" %>
          <% @form_name = "SC" %>

        <% elsif cpar.form == "Continual Improvement" %>
          <% @form_name = "CI" %>
      <% end %>

      <% if cpar.program == "Corporate" %>
        <% @program_id = "00" %>
        
        <% elsif cpar.program == "IRAD" %>
          <% @program_id = "01" %>

        <% elsif cpar.program == "MCTF" %>
          <% @program_id = "02" %>

        <% elsif cpar.program == "UAEAF" %>
          <% @program_id = "03" %>

        <% elsif cpar.program == "TAF" %>
          <% @program_id = "04" %>

        <% elsif cpar.program == "DAW" %>
          <% @program_id = "05" %>

        <% elsif cpar.program == "ESTS" %>
          <% @program_id = "07" %>
      <% end %>

      <h4>
        iAT-<%= @program_id %>-<%= @form_name %><%= cpar.program_enum %><%= cpar.id %>
        <!-- iAT + program_id + form_name program_enum + cpar_id -->
        
        <%# if cpar.form == "Preventive Action" %>
          <%# cpar.par_counter %>

        <%# elsif cpar.form == 'Corrective Action' %>
          <%# cpar.car_counter %>
      
        <%# elsif cpar.form == 'Non-Conforming Material' %>
          <%# cpar.ncmr_counter %>

        <%# elsif cpar.form == "Supplier Corrective Action" %>
          <%# cpar.scar_counter %>

        <%# elsif cpar.form == "Continual Improvement" %>
          <%# cpar.ci_counter %>
        <%# end %> 
        <!-- iAT + program_id + form_name program_enum + cpar_id -->
      </h4>
      <%= cpar.form %><br>
      <%= cpar.program %><br>
      <%= cpar.category_phase %><br>
			<%= cpar.cpar_source %><br>

      |<%= link_to 'View', cpar_path(cpar), class: "btn-sm btn-primary" %>|
      |<%= link_to 'Edit', edit_cpar_path(cpar), class: "btn-sm btn-warning"%>|
      |<%= link_to 'Delete', cpar_path(cpar), class: "btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>|
    </td>
  <% end %>
  </table>
  </div><!-- /Row 1 -->
  <!-- Row 2 -->
  <!-- PAR CHART -->
  <div class="col-md-3">
    <h4>Preventive Action</h4>
    <canvas id="par_chart" width="150" height="150"></canvas>
    <script>
    var ParData = [
      
      {
        value: <%= Cpar.where(form: "Preventive Action",program:"Corporate").count %>,
        label: 'Corporate', 
        color: '#46BFBD'

      },
      {
        value: <%= Cpar.where(form: "Preventive Action",program:"IRAD").count %>,
        label: 'IRAD',
        color: '#9CBABA'
      },
      {
        value: <%= Cpar.where(form: "Preventive Action",program:"MCTF").count %>,
        label: 'MCTF', 
        color: '#F7464A'
      },
      {
        value : <%= Cpar.where(form: "Preventive Action",program:"UAEAF").count %>,
        label: 'UAEAF',
        color: '#6AE128'
      },
      {
        value: <%= Cpar.where(form: "Preventive Action",program:"TAF").count %>,
        label: 'TAF',
        color: '#9b59b6'
      },
      {
        value: <%= Cpar.where(form: "Preventive Action",program:"DAW").count %>, 
        label: 'DAW', 
        color: '#3498db'
      },
      {
        value: <%= Cpar.where(form: "Preventive Action",program:"ESTS").count %>, 
        label: 'ESTS', 
        color: '#999999'
      }

    ];
    var context = document.getElementById('par_chart').getContext('2d');
    var ParChart = new Chart(context).Pie(ParData);

    </script>

    <!-- NCMR CHART -->
    <h4>Non-Conforming Material</h4>
    <canvas id="ncmr_chart" width="150" height="150"></canvas>

    <script>
    var NcmrData = [
      
      {
        value: <%= Cpar.where(form: "Non-Conforming Material",program:"Corporate").count %>,
        label: 'Corporate', 
        color: '#46BFBD'
      },
      {
        value: <%= Cpar.where(form: "Non-Conforming Material",program:"IRAD").count %>,
        label: 'IRAD',
        color: '#9CBABA'
      },
      {
        value: <%= Cpar.where(form: "Non-Conforming Material",program:"MCTF").count %>,
        label: 'MCTF', 
        color: '#F7464A'
      },
      {
        value : <%= Cpar.where(form: "Non-Conforming Material",program:"UAEAF").count %>,
        label: 'UAEAF',
        color: '#6AE128'
      },
      {
        value: <%= Cpar.where(form: "Non-Conforming Material",program:"TAF").count %>,
        label: 'TAF',
        color: '#9b59b6'
      },
      {
        value: <%= Cpar.where(form: "Non-Conforming Material",program:"DAW").count %>, 
        label: 'DAW', 
        color: '#3498db'
      },
      {
        value: <%= Cpar.where(form: "Non-Corrective Material",program:"ESTS").count %>, 
        label: 'ESTS', 
        color: '#f39c12'
      }

    ];
    var context = document.getElementById('ncmr_chart').getContext('2d');
    var NcmrChart = new Chart(context).Pie(NcmrData);

    </script>
  </div><!-- /Row 2 -->

  <!-- Row 3 -->
  <div class="col-md-3">
    <!-- CI CHART -->
    <h4>Continual Improvement</h4>
    <canvas id="ci_chart" width="150" height="150"></canvas>
    <script>
    var CiData = [
      
      {
        value: <%= Cpar.where(form: "Continual Improvement",program:"Corporate").count %>,
        label: 'Corporate', 
        color: '#46BFBD'
      },
      {
        value: <%= Cpar.where(form: "Continual Improvement",program:"IRAD").count %>,
        label: 'IRAD',
        color: '#9CBABA'
      },
      {
        value: <%= Cpar.where(form: "Continual Improvement",program:"MCTF").count %>,
        label: 'MCTF', 
        color: '#F7464A'
      },
      {
        value : <%= Cpar.where(form: "Continual Improvement",program:"UAEAF").count %>,
        label: 'UAEAF',
        color: '#6AE128'
      },
      {
        value: <%= Cpar.where(form: "Continual Improvement",program:"TAF").count %>,
        label: 'TAF',
        color: '#9b59b6'
      },
      {
        value: <%= Cpar.where(form: "Continual Improvement",program:"DAW").count %>, 
        label: 'DAW', 
        color: '#3498db'
      },
      {
        value: <%= Cpar.where(form: "Continual Improvement",program:"ESTS").count %>, 
        label: 'ESTS', 
        color: '#f39c12'
      }

    ];
    var context = document.getElementById('ci_chart').getContext('2d');
    var CiChart = new Chart(context).Pie(CiData);

    </script>

    <!-- CAR CHART -->
    <h4>Corrective Action Report</h4>
    <canvas id="car_chart" width="150" height="150"></canvas>
    <script>
    var CarData = [
      
      {
        value: <%= Cpar.where(form: "Corrective Action",program:"Corporate").count %>,
        label: 'Corporate', 
        color: '#46BFBD'
      },
      {
        value: <%= Cpar.where(form: "Corrective Action",program:"Corporate").count %>,
        label: 'IRAD',
        color: '#9CBABA'
      },
      {
        value: <%= Cpar.where(form: "Corrective Action",program:"MCTF").count %>,
        label: 'MCTF', 
        color: '#F7464A'
      },
      {
        value : <%= Cpar.where(form: "Corrective Action",program:"UAEAF").count %>,
        label: 'UAEAF',
        color: '#6AE128'
      },
      {
        value: <%= Cpar.where(form: "Corrective Action",program:"TAF").count %>,
        label: 'TAF',
        color: '#9b59b6'
      },
      {
        value: <%= Cpar.where(form: "Corrective Action",program:"DAW").count %>, 
        label: 'DAW', 
        color: '#3498db'
      },
      {
        value: <%= Cpar.where(form: "Corrective Action",program:"ESTS").count %>, 
        label: 'ESTS', 
        color: '#f39c12'
      }

    ];
    var context = document.getElementById('car_chart').getContext('2d');
    var CarChart = new Chart(context).Pie(CarData);

    </script>
  </div> <!-- /Row 3 -->

  <!-- Row 4 -->
  <div class="col-md-3">
    <!-- SCAR CHART -->
    <h4>Supplier Corrective Action (SCAR)</h4>
    <canvas id="scar_chart" width="150" height="150"></canvas>

    <script>
    var ScarData = [
      
      {
        value: <%= Cpar.where(form: "Supplier Corrective Action",program:"Corporate").count %>,
        label: 'Corporate', 
        color: '#46BFBD'
      },
      {
        value: <%= Cpar.where(form: "Supplier Corrective Action",program:"IRAD").count %>,
        label: 'IRAD',
        color: '#9CBABA'
      },
      {
        value: <%= Cpar.where(form: "Supplier Corrective Action",program:"MCTF").count %>,
        label: 'MCTF', 
        color: '#F7464A'
      },
      {
        value : <%= Cpar.where(form: "Supplier Corrective Action",program:"UAEAF").count %>,
        label: 'UAEAF',
        color: '#6AE128'
      },
      {
        value: <%= Cpar.where(form: "Supplier Corrective Action",program:"TAF").count %>,
        label: 'TAF',
        color: '#9b59b6'
      },
      {
        value: <%= Cpar.where(form: "Supplier Corrective Action",program:"DAW").count %>, 
        label: 'DAW', 
        color: '#3498db'
      },
      {
        value: <%= Cpar.where(form: "Supplier Corrective Action",program:"ESTS").count %>, 
        label: 'ESTS', 
        color: '#f39c12'
      }
    ];
    var context = document.getElementById('scar_chart').getContext('2d');
    var ScarChart = new Chart(context).Pie(ScarData);
    </script>
    </div><!-- /Row 4 -->
  </div><!-- /row -->
  <%= will_paginate @cpar %>
</div><!-- /container -->