<div class="container">
  <div class="row">
    
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group", id="form-search">
        <%= form_tag(cpars_path, :method => "get", class: "navbar-form navbar-right") do %>
          <em>
            <%= text_field_tag :search, params[:search], placeholder: "Search...", class: "form-control" %>
          </em>
          <%= submit_tag "Search", :name => nil, class: "btn-sm btn-primary" %>
        <% end %>
      </div>
    </form>
    
    <div class="col-md-12">
      <h1><%= link_to "CAPA", cpars_path %></h1>
      <div id="pie" style="width:auto; height:auto;"></div>

      <p>
        <%= link_to "Create New CAPA", new_cpar_path, class: "btn btn-default" %>
      </p>
      <table class="table table-bordered table table-hover">
        <tr>
          <th class="danger">iAT-ID</th>
          <th class="danger">Title</th>
          <th class="danger">Form</th>
          <th class="danger">Program</th>
          <th class="danger">Category Phase</th>
          <th class="danger">CPAR Source</th>
          <th class="danger">Old iAT-ID</th>
          <th class="danger">Date</th>
          <th class="danger">Closed By</th>
        </tr>

        <% @cpars.each do |cpar| %>
        <% if cpar.form == "Preventive Action" %>
        <% @form_name = "PA" %>

        <% elsif cpar.form == 'Corrective Action' %>
        <% @form_name = "CA" %>
        
        <% elsif cpar.form == 'Non-Conforming Material' %>
        <% @form_name = "NC" %>

        <% elsif cpar.form == "Supplier Corrective Action" %>
        <% @form_name = "SC" %>

        <% elsif cpar.form == "Continual Improvement" %>
        <% @form_name = "CI" %>
        <% end %>

        <% if cpar.program == "Corporate" %>
        <% @program_id = "00" %>
        
        <% elsif cpar.program == "IRAD" %>
        <% @program_id = "01" %>

        <% elsif cpar.program == "MCTF" %>
        <% @program_id = "02" %>

        <% elsif cpar.program == "UAEAF" %>
        <% @program_id = "03" %>

        <% elsif cpar.program == "TAF" %>
        <% @program_id = "04" %>

        <% elsif cpar.program == "DAW" %>
        <% @program_id = "05" %>

        <% elsif cpar.program == "ESTS" %>
        <% @program_id = "07" %>
        <% end %>
        <tr>
          <td>
            iAT-<%= @program_id %>-<%= @form_name %><%= cpar.program_enum %><%= cpar.id %>
          </td>
          <td><%= cpar.title %></td>
          <td><%= cpar.form %></td>        
          <td><%= cpar.program %></td> 
          <td><%= cpar.category_phase %></td>
          <td><%= cpar.cpar_source %></td>
          <td><%= cpar.old_id %></td>
          <td><%= cpar.created_at.to_formatted_s(:long) %></td>
          <td><%= cpar.closed_out_by %></td>
          <td><%= link_to 'View', cpar_path(cpar), class: "btn-sm btn-primary" %></td>
        </tr>
        <% end %>
      </table>

      <%= will_paginate @cpar %>

    </div><!-- /container -->
  </div>
</div>
<%= render '/shared/cpar_highcharts' %>
<%= render '/shared/car_charts' %>
<%= render '/shared/par_charts' %>