<div class="container">
<h1>CPAR <%= link_to "Create New CPAR", new_cpar_path, class: "btn btn-primary" %>
</h1>
  <% @cpars.each do |cpar| %>
  <table class="table table-hover">
    <td>
      <% if cpar.form == "Preventive Action" %>
        <% @form_name = "CA" %>

        <% elsif cpar.form == 'Corrective Action' %>
          <% @form_name = "PA" %>
      
        <% elsif cpar.form == 'Non-Conforming Material' %>
          <% @form_name = "NC" %>

        <% elsif cpar.form == "Supplier Corrective Action" %>
          <% @form_name = "SC" %>

        <% elsif cpar.form == "Continual Improvement" %>
          <% @form_name = "CI" %>
      <% end %>

      <% if cpar.program == "Corporate" %>
        <% @program_id = "00" %>
        
        <% elsif cpar.program == "IRAD" %>
          <% @program_id = "01" %>

        <% elsif cpar.program == "MCTF" %>
          <% @program_id = "02" %>

        <% elsif cpar.program == "UAEAF" %>
          <% program_id = "03" %>

        <% elsif cpar.program == "TAF" %>
          <% @program_id = "04" %>

        <% elsif cpar.program == "DAW" %>
          <% @program_id = "05" %>

        <% elsif cpar.program == "ESTS" %>
          <% @program_id = "07" %>
      <% end %>

      <h4>
        iAT-<%= @program_id %>-<%= @form_name %><%= cpar.program_enum %><%= cpar.id %>
        <!-- iAT + program_id + form_name program_enum + cpar_id -->
        
        <%# if cpar.form == "Preventive Action" %>
          <%# cpar.par_counter %>

        <%# elsif cpar.form == 'Corrective Action' %>
          <%# cpar.car_counter %>
      
        <%# elsif cpar.form == 'Non-Conforming Material' %>
          <%# cpar.ncmr_counter %>

        <%# elsif cpar.form == "Supplier Corrective Action" %>
          <%# cpar.scar_counter %>

        <%# elsif cpar.form == "Continual Improvement" %>
          <%# cpar.ci_counter %>
        <%# end %> 
        <!-- iAT + program_id + form_name program_enum + cpar_id -->
      </h4>
      <%= cpar.form %><br>
      <%= cpar.program %><br>
      <%= cpar.category_phase %><br>
			<%= cpar.cpar_source %><br>

      |<%= link_to 'View', cpar_path(cpar), class: "btn-sm btn-primary" %>|
      |<%= link_to 'Edit', edit_cpar_path(cpar), class: "btn-sm btn-warning"%>|
      |<%= link_to 'Delete', cpar_path(cpar), class: "btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>|
    </td>
  <% end %>
  </table>