<div class="container">
	<% if @cpar.form == "Preventive Action" %>
    <% @form_name = "PA" %>

    <% elsif @cpar.form == 'Corrective Action' %>
      <% @form_name = "CA" %>
      
      <% elsif @cpar.form == 'Non-Conforming Material' %>
        <% @form_name = "NC" %>

      <% elsif @cpar.form == "Supplier Corrective Action" %>
        <% @form_name = "SC" %>

      <% elsif @cpar.form == "Continual Improvement" %>
        <% @form_name = "CI" %>
    <% end %>

  <% if @cpar.program == "Corporate" %>
  	<% @program_id = "00" %>
	  
	  <% elsif @cpar.program == "IRAD" %>
	  	<% @program_id = "01" %>

	  <% elsif @cpar.program == "MCTF" %>
	  	<% @program_id = "02" %>

	  <% elsif @cpar.program == "UAEAF" %>
	  	<% @program_id = "03" %>

	  <% elsif @cpar.program == "TAF" %>
	  	<% @program_id = "04" %>

	  <% elsif @cpar.program == "DAW" %>
	  	<% @program_id = "05" %>

	  <% elsif @cpar.program == "ESTS" %>
	  	<% @program_id = "07" %>
  <% end %>

	<h3>iAT-<%= @program_id %>-<%= @form_name %><%= @cpar.program_enum %><%= @cpar.id%></h3> 
	<!-- iAT + program_id + form_name program_enum + cpar_id -->

		<strong>Program:</strong> <%= @cpar.program %><br>
		<strong>Category Phase:</strong> <%= @cpar.category_phase %><br>
		<strong>CPAR Source:</strong> <%= @cpar.cpar_source %><br>
		<strong>Specific Source:</strong> <%= @cpar.specific_source %><br>
		<strong>Other Category:</strong> <%= @cpar.other_category %><br>

		<h3>Raised By:<%= @cpar.raised_by %></h3>
		<strong>Assigned To:</strong> <%= @cpar.assigned_to %></br>
		<strong>Date:</strong> <%= @cpar.date %><br>
		<strong>Remakrs:</strong> <%= @cpar.raised_by_remarks %><br>

		<h3>Solution Required By</h3>
		<strong>Date:</strong> <%= @cpar.solution_required_by_date %><br>
		<strong>Remarks:</strong> <%= @cpar.solution_required_remarks %><br>
		<strong>Completed By:</strong> <%= @cpar.form_completed_by %><br>
		<strong>Date:</strong> <%= @cpar.form_completed_by_date %><br>
		<strong>Remarks:</strong> <%= @cpar.form_completed_by_remarks %><br>

		<h3>Finding</h3>
		<strong>Finding:</strong> <%= @cpar.finding %><br>
		<strong>Finding Impact:</strong> <%= @cpar.finding_impact %><br>

		<h3>Proposed Immediate Action</h3>
		<strong>Proposed Immediate Action:</strong> <%= @cpar.proposed_immediate_action %><br>
		<strong>Completed By:</strong> <%= @cpar.proposed_immediate_action_completed_by %><br>
		<strong>Date:</strong> <%= @cpar.proposed_immediate_action_date %><br>
		<strong>Remarks:</strong> <%= @cpar.proposed_immediate_action_remarks %><br>

		<h3>Root Cause Analysis</h3>
		<strong>Root Cause Analysis Required?:</strong> <%= @cpar.root_cause_analysis_required %><br>
		<strong>Underlying Root Cause:</strong> <%= @cpar.underlying_root_cause %><br>
		<strong>Determined By:</strong> <%= @cpar.determined_by %><br>
		<strong>Date:</strong> <%= @cpar.underlying_root_cause_date %><br>
		<strong>Remarks:</strong> <%= @cpar.underlying_root_cause_remarks %><br>

		<h3>Proposed Action</h3>
		<strong>Proposed Action for Long-term Solution:</strong> <%= @cpar.proposed_action_for_longterm_solution %><br>
		<strong>Completed By:</strong> <%= @cpar.proposed_action_for_longterm_solution_completed_by %><br>
		<strong>Date:</strong> <%= @cpar.proposed_action_for_longterm_solution_date %><br>
		<strong>Remarks:</strong> <%= @cpar.proposed_action_for_longterm_solution_remarks %><br>

		<h3>Evaluation of Effectiveness of Action</h3>
		<strong>Evaluation of Effectiveness of Action:</strong> <%= @cpar.evaluation_of_effectiveness_of_action %><br>
		<strong>Objective Evidence:</strong> <%= @cpar.objective_evidence %><br>
		<strong>Closed Out By:</strong> <%= @cpar.closed_out_by %><br>
		<strong>Date:</strong><%= @cpar.evaluation_of_effectiveness_of_action_date %><br>
		<strong>Remarks:</strong><%= @cpar.evaluation_of_effectiveness_of_action_remarks %><br><br>

		<%= link_to "Back", cpars_path, class: "btn btn-default" %><br><br>

</div>
