<div class="container">
	<h3>iAT-00-02<%= @cpar.id %></h3>
	<ul>
		<li><%= @cpar.program %></li>
		<li><%= @cpar.category_phase %></li>
		<li><%= @cpar.cpar_source %></li>
		<li><%= @cpar.category_phase %></li>
		<li><%= @cpar.specific_source %></li>
		<li><%= @cpar.other_category %></li>
		<li><%= @cpar.raised_by %></li>
		<li><%= @cpar.assigned_to %></li>
		<li><%= @cpar.date %></li>
		<li><%= @cpar.raised_by_remarks %></li>
		<li><%= @cpar.solution_required_by_date %></li>
		<li><%= @cpar.solution_required_remarks %></li>
		<li><%= @cpar.form_completed_by %></li>
		<li><%= @cpar.form_completed_by_date %></li>
		<li><%= @cpar.form_completed_by_remarks %></li>
		<li><%= @cpar.finding %></li>
		<li><%= @cpar.finding_impact %></li>
		<li><%= @cpar.proposed_immediate_action %></li>
		<li><%= @cpar.proposed_immediate_action_completed_by %></li>
		<li><%= @cpar.proposed_immediate_action_date %></li>
		<li><%= @cpar.proposed_immediate_action_remarks %></li>
		<li><%= @cpar.root_cause_analysis_required %></li>
		<li><%= @cpar.underlying_root_cause %></li>
		<li><%= @cpar.determined_by %></li>
		<li><%= @cpar.underlying_root_cause_date %></li>
		<li><%= @cpar.underlying_root_cause_remarks %></li>
		<li><%= @cpar.proposed_action_for_longterm_solution %></li>
		<li><%= @cpar.proposed_action_for_longterm_solution_completed_by %></li>
		<li><%= @cpar.proposed_action_for_longterm_solution_date %></li>
		<li><%= @cpar.proposed_action_for_longterm_solution_remarks %></li>
		<li><%= @cpar.evaluation_of_effectiveness_of_action %></li>
		<li><%= @cpar.objective_evidence %></li>
		<li><%= @cpar.closed_out_by %></li>
		<li><%= @cpar.evaluation_of_effectiveness_of_action_date %></li>
		<li><%= @cpar.evaluation_of_effectiveness_of_action_remarks %></li>
</div>