<div class="container">
	<h3><%= @license.name %></h3>
	
	<strong>License Key</strong>
	<%= @license.key %><br>
	
	<strong>Description</strong>
	<%= @license.description %><br>
	
	<strong>User</strong>
	<%= @license.user %><br>
	
	<strong>Expiration Date</strong>
	<%= @license.expiration %>
</div>