<div class="container">
	<%= form_for @inventory, html: {class: "form-horizontal"} do |f| %>
		<% if @inventory.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@inventory.errors.count, "error") %> Prohibited this post from being saved:</h2>
					<ul>
					<% @inventory.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
					</ul>
				</div>
			<% end %>  	

		<div class="row">
			<div class="col-md-4">
			  <p>
			    <%= f.label :employee %><br>
			    <%= f.text_field :employee, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :iat_num, "iAT Number" %><br>
			    <%= f.text_field :iat_num, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :laptop_model, "Laptop Model" %><br>
			    <%= f.text_field :laptop_model, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :laptop_serial_number, "Laptop Serial Number" %><br>
			    <%= f.text_field :laptop_serial_number, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :windows, "Windows Key" %><br>
			    <%= f.text_field :windows, class: "form-control" %>
			  </p>
			</div>
			<div class="col-md-4">
			  <p>
			    <%= f.label :office_suite, "Office Suite Serial Number" %><br>
			    <%= f.text_field :office_suite, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :adobe_pro, "Adobe Acrobat Pro Serial Number" %><br>
			    <%= f.text_field :adobe_pro, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :adobe_stn, "Adobe Acrobat X STN Serial Number" %><br>
			    <%= f.text_field :adobe_stn, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :visual_studio, "Visual Studio Key" %><br>
			    <%= f.text_field :visual_studio, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :visio, "Visio Key" %><br>
			    <%= f.text_field :visio, class: "form-control" %>
			  </p>
		</div>
		<div class="col-md-4">
		  <p>
		    <%= f.label :microsoft_project, "Microsoft Project Serial Number" %><br>
		    <%= f.text_field :microsoft_project, class: "form-control" %>
		  </p>
		  <p>
		    <%= f.label :nxpowerlite, "NXPowerlite Serial Number" %><br>
		    <%= f.text_field :nxpowerlite, class: "form-control" %>
		  </p>
		  <p>
		    <%= f.label :win_pro, "Win Pro Serial Number" %><br>
		    <%= f.text_field :win_pro, class: "form-control" %>
		  </p>

		  <p>
		    <%= f.label :status %><br>
		    <%= f.text_field :status, class: "form-control" %>
		  </p>

		  <p>
		    <%= f.label :other %><br>
		    <%= f.text_field :other, class: "form-control" %>
		  </p>
		</div>
		</div>

		<form class="form-signin">
	  <p>
	    <%= f.submit "Submit", class: "btn btn-lg btn-primary btn-block" %>
	  </p>
	  <br>
	<% end %>
		<%= link_to "Back", inventories_path, class: "btn btn-default" %>

</div> <!-- /container -->
