<div class="container">
	<%= form_for :inventory, html: {class: "form-horizontal"}, url: inventories_path do |f| %>
		<% if @inventory.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@inventory.errors.count, "error") %> Prohibited this post from being saved:</h2>
					<ul>
					<% @inventory.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
					</ul>
				</div>
			<% end %>  	


	  <p>
	    <%= f.label :date %><br>
	    <%= f.text_field :date, class: "form-control" %>
	  </p>

	  <p>
	    <%= f.label :description %><br>
	    <%= f.text_area :description, class: "form-control" %>
	  </p>

	  <h3>Checklist</h3>

	  <h4>Identify Inventory:</h4>
		
		<div class="checkbox">
			<label>
			  <input type="checkbox" value="">
			 	Program
			</label>
		</div>

		<div class="checkbox">
			<label>
			  <input type="checkbox" value="">
			  Corporate
			</label>
		</div>

		<div class="checkbox">
			<label>
			  <input type="checkbox" value="">
			  All
			</label>
		</div>

		<h4>Program Inventory Audits:</h4>
		<div class="checkbox">
			<label>
			  <input type="checkbox" value="">
			  Generate program specific inventory report from WASP
			</label>
		</div>

		<div class="checkbox">
			<label>
			  <input type="checkbox" value="">
			  Review inventory report completeness check (i.e, WASP inventory fields; location, quantity, description, etc)
			</label>
		</div>

		<div class="checkbox">
			<label>
			  <input type="checkbox" value="">
			  Perform physical inventory of program assets.
			</label>
		</div>

		<div class="checkbox">
			<label>
			  <input type="checkbox" value="">
			  Findings/Corrective actions documented per iAT-00-0205 Preventive and Corrective Actions
			</label>
		</div>
		
		<h4>Annual Corporate Audits:</h4>
		<div class="checkbox">
			<label>
			  <input type="checkbox" value="">
			  Generate program specific inventory report from WASP
			</label>
		</div>

		<div class="checkbox">
			<label>
			  <input type="checkbox" value="">
			  Review inventory report completeness check (i.e, WASP inventory fields; location, quantity, description, etc)
			</label>
		</div>

		<div class="checkbox">
			<label>
		    <input type="checkbox" value="">
		    Perform physical inventory of program assets.
		  </label>
		</div>

		<div class="checkbox">
		  <label>
		    <input type="checkbox" value="">
		    Findings/Corrective actions documented per iAT-00-0205 Preventive and Corrective Actions
		  </label>
		</div>
		

		<h4>
			<%= label_tag(:completed, "Inventory Checklist Complete?") %>		
			<%= check_box_tag(:completed) %>
		</h4>
		<form class="form-signin">
	  <p>
	    <%= f.submit "Submit", class: "btn btn-lg btn-primary btn-block" %>
	  </p>
	  <br>
	<% end %>
</div> <!-- /container -->
