<div class="container">  
  <div class="col-md-12">
    <h1>IT Inventory</h1>
    <p>
      <%= link_to "Add IT Item", new_inventory_path, class: "btn btn-default" %>
    </p>

    <table class="table table-bordered table table-hover">
      <tr>
        <th class="danger">iAT #</th>
        <th class="danger">Employee</th>
        <th class="danger">Laptop Model</th>
        <th class="danger">Windows Serial #</th>
        <th class="danger">Office Suite #</th>
        <th class="danger">Visual Studio #</th>
        <th class="danger">Status</th>
      </tr>
      <% @inventories.each do |inventory| %>
        <tr> 
          <td class="active"><%= inventory.iat_num %></td>
          <td><%= inventory.employee %></td>
          <td><%= inventory.laptop_model %></td>
          <td><%= inventory.windows %></td>
          <td><%= inventory.office_suite %></td>
          <td><%= inventory.visual_studio %></td>
          <td><%= inventory.status %></td>
          <td><%= link_to 'View', inventory_path(inventory), class: "btn-sm btn-info" %></td>
        </tr>
      <% end %>
    </table>
  </div><!-- /col-md-12 -->
</div><!-- /container -->