<div class="container">
<h1>IT Inventory <%= link_to "Add New Inventory Item", new_inventory_path, class: "btn btn-primary" %>
</h1>
  <% @inventories.each do |inventory| %>
  <table class="table table-hover">
    <td>
      
      <h4><%= inventory.employee %></h4>
      Laptop Model:<%= inventory.laptop_model %><br>
      Laptop Serial #:<%= inventory.laptop_serial_number %><br><br>

      |<%= link_to 'View', inventory_path(inventory), class: "btn-sm btn-primary" %>|
      |<%= link_to 'Edit', edit_inventory_path(inventory), class: "btn-sm btn-warning"%>|
      |<%= link_to 'Delete', inventory_path(inventory), class: "btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>|
    </td>
  <% end %>
  </table>
</div><!-- /container -->