<div class="container">	
	<strong>Employee:</strong>
	<%= @inventory.employee %><br>

	<strong>iat_num:</strong>
	<%= @inventory.iat_num %><br>

	<strong>Laptop Model:</strong>
	<%= @inventory.laptop_model %><br>

	<strong>Laptop Serial Number:</strong>
	<%= @inventory.laptop_serial_number %><br>

	<strong>Windows Serial Number:</strong>
	<%= @inventory.windows %><br>

	<strong>Office Suite Serial Number:</strong>
	<%= @inventory.office_suite %><br>

	<strong>Adobe Pro Serial Number:</strong>
	<%= @inventory.adobe_pro %><br>

	<strong>Adobe X STN Serial Number:</strong>
	<%= @inventory.adobe_stn %><br>

	<strong>Visual Studio Serial Number:</strong>
	<%= @inventory.visual_studio %><br>

	<strong>Visio Serial Number:</strong>
	<%= @inventory.visio %><br>

	<strong>Microsoft Project Serial Number:</strong>
	<%= @inventory.microsoft_project %><br>

	<strong>NX Powerlite Serial Number:</strong>
	<%= @inventory.nxpowerlite %><br>

	<strong>Win Pro Serial Number:</strong>
	<%= @inventory.win_pro %><br>

	<strong>Status:</strong>
	<%= @inventory.status %><br>

	<strong>Other:</strong>
	<%= @inventory.other %><br>

	<%= link_to "Back", inventories_path, class: "btn btn-default" %>

</div>
