<div class="container">
	<h3>Part # <%= @inventory.part %></h3>
	<strong>Serial #:</strong>
	<%= @inventory.serial %><br>
	<strong>Date:</strong>
	<%= @inventory.date %><br>
	<strong>Description:</strong>
	<%= @inventory.description %><br>
	<strong>Quantity:</strong>
	<%= @inventory.quantity %>
</div>