<div class="container">
	<h3>Part # <%= @InspectItem.part %></h3>
	<strong>Serial #:</strong>
	<%= @InspectItem.serial %><br>
	<strong>Date:</strong>
	<%= @InspectItem.date %><br>
	<strong>Description:</strong>
	<%= @InspectItem.description %><br>
	<strong>Quantity:</strong>
	<%= @InspectItem.quantity %>
</div>