<h1>Graphical Representation</h1>
<h2>Project % per CPAR</h2>
<!-- Row 2 -->
<!-- PAR CHART -->
<div class="col-md-3">
	<h4>Preventive Action</h4>
	<canvas id="par_chart" width="200" height="200"></canvas>
	<script>
	var ParData = [

	{
		value: <%= Cpar.where(form: "Preventive Action",program:"Corporate").count %>,
		label: 'Corporate', 
		color: '#46BFBD',
		labelColor : 'white',
		labelFontSize : '16',
		highlight: "#C69CBE",
	},
	{
		value: <%= Cpar.where(form: "Preventive Action",program:"IRAD").count %>,
		label: 'IRAD',
		color: '#9CBABA'
	},
	{
		value: <%= Cpar.where(form: "Preventive Action",program:"MCTF").count %>,
		label: 'MCTF', 
		color: '#F7464A'
	},
	{
		value : <%= Cpar.where(form: "Preventive Action",program:"UAEAF").count %>,
		label: 'UAEAF',
		color: '#6AE128'
	},
	{
		value: <%= Cpar.where(form: "Preventive Action",program:"TAF").count %>,
		label: 'TAF',
		color: '#9b59b6'
	},
	{
		value: <%= Cpar.where(form: "Preventive Action",program:"DAW").count %>, 
		label: 'DAW', 
		color: '#3498db'
	},
	{
		value: <%= Cpar.where(form: "Preventive Action",program:"ESTS").count %>, 
		label: 'ESTS', 
		color: '#999999'
	}

	];
	var context = document.getElementById('par_chart').getContext('2d');
	var ParChart = new Chart(context).Pie(ParData);

	</script>

	<!-- NCMR CHART -->
	<h4>Non-Conforming Material</h4>
	<canvas id="ncmr_chart" width="200" height="200"></canvas>

	<script>
	var NcmrData = [

	{
		value: <%= Cpar.where(form: "Non-Conforming Material",program:"Corporate").count %>,
		label: 'Corporate', 
		color: '#46BFBD'
	},
	{
		value: <%= Cpar.where(form: "Non-Conforming Material",program:"IRAD").count %>,
		label: 'IRAD',
		color: '#9CBABA'
	},
	{
		value: <%= Cpar.where(form: "Non-Conforming Material",program:"MCTF").count %>,
		label: 'MCTF', 
		color: '#F7464A'
	},
	{
		value : <%= Cpar.where(form: "Non-Conforming Material",program:"UAEAF").count %>,
		label: 'UAEAF',
		color: '#6AE128'
	},
	{
		value: <%= Cpar.where(form: "Non-Conforming Material",program:"TAF").count %>,
		label: 'TAF',
		color: '#9b59b6'
	},
	{
		value: <%= Cpar.where(form: "Non-Conforming Material",program:"DAW").count %>, 
		label: 'DAW', 
		color: '#3498db'
	},
	{
		value: <%= Cpar.where(form: "Non-Corrective Material",program:"ESTS").count %>, 
		label: 'ESTS', 
		color: '#f39c12'
	}

	];
	var context = document.getElementById('ncmr_chart').getContext('2d');
	var NcmrChart = new Chart(context).Pie(NcmrData);

	</script>

	<h1>Closed Out/Received</h1>
	<h4>SCAR Received/Closed Out</h4>
	<canvas id="scar_received" width="200" height="200"></canvas>
	<script>
	var ScarReceivedData = [

	{
		value: <%= Cpar.where(form: "Supplier Corrective Action", closed_out_by: "").count %>,
		label: 'Closed Out', 
		color: 'red'
	},
	{
		value: <%= Cpar.where(form: "Supplier Corrective Action").count %>,
		label: 'Received', 
		color: 'blue'
	}
	];
	var context = document.getElementById('scar_received').getContext('2d');
	var ParChart = new Chart(context).Pie(ScarReceivedData);  
	</script>
</div><!-- /Row 2 -->

<!-- Row 3 -->
<div class="col-md-3">
	<!-- CI CHART -->
	<h4>Continual Improvement</h4>
	<canvas id="ci_chart" width="200" height="200"></canvas>
	<script>
	var CiData = [

	{
		value: <%= Cpar.where(form: "Continual Improvement",program:"Corporate").count %>,
		label: 'Corporate', 
		color: '#46BFBD'
	},
	{
		value: <%= Cpar.where(form: "Continual Improvement",program:"IRAD").count %>,
		label: 'IRAD',
		color: '#9CBABA'
	},
	{
		value: <%= Cpar.where(form: "Continual Improvement",program:"MCTF").count %>,
		label: 'MCTF', 
		color: '#F7464A'
	},
	{
		value : <%= Cpar.where(form: "Continual Improvement",program:"UAEAF").count %>,
		label: 'UAEAF',
		color: '#6AE128'
	},
	{
		value: <%= Cpar.where(form: "Continual Improvement",program:"TAF").count %>,
		label: 'TAF',
		color: '#9b59b6'
	},
	{
		value: <%= Cpar.where(form: "Continual Improvement",program:"DAW").count %>, 
		label: 'DAW', 
		color: '#3498db'
	},
	{
		value: <%= Cpar.where(form: "Continual Improvement",program:"ESTS").count %>, 
		label: 'ESTS', 
		color: '#f39c12'
	}

	];
	var context = document.getElementById('ci_chart').getContext('2d');
	var CiChart = new Chart(context).Pie(CiData);

	</script>

	<!-- CAR CHART -->
	<h4>Corrective Action Report</h4>
	<canvas id="car_chart" width="200" height="200"></canvas>
	<script>
	var CarData = [

	{
		value: <%= Cpar.where(form: "Corrective Action",program:"Corporate").count %>,
		label: 'Corporate', 
		color: '#46BFBD'
	},
	{
		value: <%= Cpar.where(form: "Corrective Action",program:"Corporate").count %>,
		label: 'IRAD',
		color: '#9CBABA'
	},
	{
		value: <%= Cpar.where(form: "Corrective Action",program:"MCTF").count %>,
		label: 'MCTF', 
		color: '#F7464A'
	},
	{
		value : <%= Cpar.where(form: "Corrective Action",program:"UAEAF").count %>,
		label: 'UAEAF',
		color: '#6AE128'
	},
	{
		value: <%= Cpar.where(form: "Corrective Action",program:"TAF").count %>,
		label: 'TAF',
		color: '#9b59b6'
	},
	{
		value: <%= Cpar.where(form: "Corrective Action",program:"DAW").count %>, 
		label: 'DAW', 
		color: '#3498db'
	},
	{
		value: <%= Cpar.where(form: "Corrective Action",program:"ESTS").count %>, 
		label: 'ESTS', 
		color: '#f39c12'
	}

	];
	var context = document.getElementById('car_chart').getContext('2d');
	var CarChart = new Chart(context).Pie(CarData);

	</script>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<h4>PAR Received/Closed Out</h4>
	<canvas id="par_received" width="200" height="200"></canvas>
	<script>
	var ParReceivedData = [

	{
		value: <%= Cpar.where(form: "Preventive Action", closed_out_by: "Nathan Manelkar").count + Cpar.where(form: "Preventive Action", closed_out_by: "Cynthia Dent").count %>,
		label: 'Closed Out', 
		color: 'red'
	},
	{
		value: <%= Cpar.where(form: "Preventive Action").count %>,
		label: 'Received', 
		color: 'blue'
	}
	];
	var context = document.getElementById('par_received').getContext('2d');
	var ParChart = new Chart(context).Pie(ParReceivedData);  
	</script>
</div> <!-- /Row 3 -->

<!-- Row 4 -->
<div class="col-md-3">
	<!-- SCAR CHART -->
	<h4>Supplier Corrective Action</h4>
	<canvas id="scar_chart" width="200" height="200"></canvas>

	<script>
	var ScarData = [
	{
		value: <%= Cpar.where(form: "Supplier Corrective Action",program:"Corporate").count %>,
		label: 'Corporate', 
		color: '#46BFBD'
	},

	{
		value: <%= Cpar.where(form: "Supplier Corrective Action",program:"IRAD").count %>,
		label: 'IRAD',
		color: '#9CBABA'
	},

	{
		value: <%= Cpar.where(form: "Supplier Corrective Action",program:"MCTF").count %>,
		label: 'MCTF', 
		color: '#F7464A'
	},

	{
		value : <%= Cpar.where(form: "Supplier Corrective Action",program:"UAEAF").count %>,
		label: 'UAEAF',
		color: '#6AE128'
	},
	{
		value: <%= Cpar.where(form: "Supplier Corrective Action",program:"TAF").count %>,
		label: 'TAF',
		color: '#9b59b6'
	},

	{
		value: <%= Cpar.where(form: "Supplier Corrective Action",program:"DAW").count %>, 
		label: 'DAW', 
		color: '#3498db'
	},

	{
		value: <%= Cpar.where(form: "Supplier Corrective Action",program:"ESTS").count %>, 
		label: 'ESTS', 
		color: '#f39c12'
	}
	];
	var context = document.getElementById('scar_chart').getContext('2d');
	var ScarChart = new Chart(context).Pie(ScarData);
	</script>
  
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<h4>CI Received/Closed Out</h4>
	<canvas id="ci_received" width="200" height="200"></canvas>
	<script>
	var CiReceivedData = [

	{
		value: <%= Cpar.where(form: "Corrective Action", closed_out_by: "Nathan Manelkar").count %>,
		label: 'Closed Out', 
		color: 'red'
	},

	{
		value: <%= Cpar.where(form: "Corrective Action").count %>,
		label: 'Received', 
		color: 'blue'
	}
	];
	var context = document.getElementById('ci_received').getContext('2d');
	var ParChart = new Chart(context).Pie(CiReceivedData);  
	</script>
</div><!-- /Row 4 -->
</div><!-- /row -->
