<h1>Graphical Representation</h1>
<h2>Project % per CPAR</h2>
<!-- Row 2 -->
<!-- PAR CHART -->
<div class="col-md-3">
	<h4>Preventive Action</h4>
	<canvas id="par_chart" width="300" height="300"></canvas>
	<script>

	var newopts = {
		inGraphDataShow: true,
		inGraphDataRadiusPosition: 2,
		inGraphDataFontColor: 'white'
	}
	var ParData = [
	{
		value: <%= Cpar.where(form: "Preventive Action",program:"Corporate").count %>,
		color: '#e74c3c' // RED Corporate
	},
	{
		value: <%= Cpar.where(form: "Preventive Action",program:"IRAD").count %>,
		color: 'silver' // IRAD
	},
	{
		value: <%= Cpar.where(form: "Preventive Action",program:"MCTF").count %>,
		color: '#9b59b6' // MCTF PURPLE
	},
	{
		value : <%= Cpar.where(form: "Preventive Action",program:"UAEAF").count %>,
		color: '#f1c40f' // UAEAF YELLOW
	},
	{
		value: <%= Cpar.where(form: "Preventive Action",program:"TAF").count %>,
		color: '#e67e22' // TAF ORANGE
	},
	{
		value: <%= Cpar.where(form: "Preventive Action",program:"DAW").count %>, 
		color: '#27ae60' // DAW
	},
	{
		value: <%= Cpar.where(form: "Preventive Action",program:"ESTS").count %>, 
		color: '#2980b9' // ESTS
	}

	];
	var context = document.getElementById('par_chart').getContext('2d');
	var ParChart = new Chart(context).Pie(ParData, newopts);

	</script>

	<!-- NCMR CHART -->
	<h4>Non-Conforming Material</h4>
	<canvas id="ncmr_chart" width="300" height="300"></canvas>

	<script>

	var newopts = {
		inGraphDataShow: true,
		inGraphDataRadiusPosition: 2,
		inGraphDataFontColor: 'white'
	}
	var NcmrData = [

	{
		value: <%= Cpar.where(form: "Non-Conforming Material",program:"Corporate").count %>,
		color: '#e74c3c'
	},
	{
		value: <%= Cpar.where(form: "Non-Conforming Material",program:"IRAD").count %>,
		color: 'silver'
	},
	{
		value: <%= Cpar.where(form: "Non-Conforming Material",program:"MCTF").count %>,
		color: '#9b59b6'
	},
	{
		value : <%= Cpar.where(form: "Non-Conforming Material",program:"UAEAF").count %>,
		color: '#f1c40f'
	},
	{
		value: <%= Cpar.where(form: "Non-Conforming Material",program:"TAF").count %>,
		color: '#e67e22'
	},
	{
		value: <%= Cpar.where(form: "Non-Conforming Material",program:"DAW").count %>, 
		color: '#27ae60'
	},
	{
		value: <%= Cpar.where(form: "Non-Corrective Material",program:"ESTS").count %>, 
		color: '#2980b9'
	}

	];
	var context = document.getElementById('ncmr_chart').getContext('2d');
	var NcmrChart = new Chart(context).Pie(NcmrData, newopts);

	</script>

	<h1>Closed Out/Received</h1>
	<h4>SCAR Received/Closed Out</h4>
	<canvas id="scar_received" width="300" height="300"></canvas>
	<script>
	var newopts = {
		inGraphDataShow: true,
		inGraphDataRadiusPosition: 2,
		inGraphDataFontColor: 'white'
	}
	var ScarReceivedData = [

	{
		value: <%= Cpar.where(form: "Supplier Corrective Action", closed_out_by: "").count %>,
		color: '#e74c3c'
	},
	{
		value: <%= Cpar.where(form: "Supplier Corrective Action").count %>,
		color: '#2980b9'
	}
	];
	var context = document.getElementById('scar_received').getContext('2d');
	var ParChart = new Chart(context).Pie(ScarReceivedData, newopts);  
	</script>
</div><!-- /Row 2 -->

<!-- Row 3 -->
<div class="col-md-3">
	<!-- CI CHART -->
	<h4>Continual Improvement</h4>
	<canvas id="ci_chart" width="300" height="300"></canvas>
	<script>
	var newopts = {
		inGraphDataShow: true,
		inGraphDataRadiusPosition: 2,
		inGraphDataFontColor: 'white'
	}
	var CiData = [

	{
		value: <%= Cpar.where(form: "Continual Improvement",program:"Corporate").count %>,
		color: '#e74c3c'
	},
	{
		value: <%= Cpar.where(form: "Continual Improvement",program:"IRAD").count %>,
		color: 'silver'
	},
	{
		value: <%= Cpar.where(form: "Continual Improvement",program:"MCTF").count %>,
		color: '#9b59b6'
	},
	{
		value : <%= Cpar.where(form: "Continual Improvement",program:"UAEAF").count %>,
		color: '#f1c40f'
	},
	{
		value: <%= Cpar.where(form: "Continual Improvement",program:"TAF").count %>,
		color: '#e67e22'
	},
	{
		value: <%= Cpar.where(form: "Continual Improvement",program:"DAW").count %>, 
		color: '#27ae60'
	},
	{
		value: <%= Cpar.where(form: "Continual Improvement",program:"ESTS").count %>, 
		color: '#2980b9'
	}

	];
	var context = document.getElementById('ci_chart').getContext('2d');
	var CiChart = new Chart(context).Pie(CiData, newopts);

	</script>

	<!-- CAR CHART -->
	<h4>Corrective Action Report</h4>
	<canvas id="car_chart" width="300" height="300"></canvas>
	<script>
	var newopts = {
		inGraphDataShow: true,
		inGraphDataRadiusPosition: 2,
		inGraphDataFontColor: 'white'
	}
	var CarData = [

	{
		value: <%= Cpar.where(form: "Corrective Action",program:"Corporate").count %>,
		color: '#e74c3c'
	},
	{
		value: <%= Cpar.where(form: "Corrective Action",program:"Corporate").count %>,
		color: 'silver'
	},
	{
		value: <%= Cpar.where(form: "Corrective Action",program:"MCTF").count %>,
		color: '#9b59b6'
	},
	{
		value : <%= Cpar.where(form: "Corrective Action",program:"UAEAF").count %>,
		color: '#f1c40f'
	},
	{
		value: <%= Cpar.where(form: "Corrective Action",program:"TAF").count %>,
		color: '#e67e22'
	},
	{
		value: <%= Cpar.where(form: "Corrective Action",program:"DAW").count %>, 
		color: '#27ae60'
	},
	{
		value: <%= Cpar.where(form: "Corrective Action",program:"ESTS").count %>, 
		color: '#2980b9'
	}

	];
	var context = document.getElementById('car_chart').getContext('2d');
	var CarChart = new Chart(context).Pie(CarData, newopts);

	</script>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<h4>PAR Received/Closed Out</h4>
	<canvas id="par_received" width="300" height="300"></canvas>
	<script>
	var newopts = {
		inGraphDataShow: true,
		inGraphDataRadiusPosition: 2,
		inGraphDataFontColor: 'white'
	}

	var ParReceivedData = [


	{
		value: <%= Cpar.where(form: "Preventive Action", closed_out_by: "Nathan Manelkar").count + Cpar.where(form: "Preventive Action", closed_out_by: "Cynthia Dent").count %>,
		color: '#e74c3c'
	},
	{
		value: <%= Cpar.where(form: "Preventive Action").count %>,
		color: '#2980b9'
	}
	];
	var context = document.getElementById('par_received').getContext('2d');
	var ParChart = new Chart(context).Pie(ParReceivedData,newopts);  
	</script>
</div> <!-- /Row 3 -->

<!-- Row 4 -->
<div class="col-md-3">
	<!-- SCAR CHART -->
	<h4>Supplier Corrective Action</h4>
	<canvas id="scar_chart" width="300" height="300"></canvas>

	<script>
	var newopts = {
		inGraphDataShow: true,
		inGraphDataRadiusPosition: 2,
		inGraphDataFontColor: 'white'
	}
	var ScarData = [
	{
		value: <%= Cpar.where(form: "Supplier Corrective Action",program:"Corporate").count %>,
		color: '#e74c3c'
	},

	{
		value: <%= Cpar.where(form: "Supplier Corrective Action",program:"IRAD").count %>,
		color: 'silver'
	},

	{
		value: <%= Cpar.where(form: "Supplier Corrective Action",program:"MCTF").count %>,
		color: '#9b59b6'
	},

	{
		value : <%= Cpar.where(form: "Supplier Corrective Action",program:"UAEAF").count %>,
		color: '#f1c40f'
	},
	{
		value: <%= Cpar.where(form: "Supplier Corrective Action",program:"TAF").count %>,
		color: '#e67e22'
	},

	{
		value: <%= Cpar.where(form: "Supplier Corrective Action",program:"DAW").count %>, 
		color: '#27ae60'
	},

	{
		value: <%= Cpar.where(form: "Supplier Corrective Action",program:"ESTS").count %>, 
		color: '#2980b9'
	}
	];
	var context = document.getElementById('scar_chart').getContext('2d');
	var ScarChart = new Chart(context).Pie(ScarData, newopts);
	</script>
  
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
	<h4>CI Received/Closed Out</h4>
	<canvas id="ci_received" width="300" height="300"></canvas>
	<script>
	var newopts = {
		inGraphDataShow: true,
		inGraphDataRadiusPosition: 2,
		inGraphDataFontColor: 'white'
	}
	var CiReceivedData = [

	{
		value: <%= Cpar.where(form: "Continual Improvement", closed_out_by: "Nathan Manelkar").count %>,
		color: '#e74c3c'
	},

	{
		value: <%= Cpar.where(form: "Continual Improvement").count %>,
		color: '#2980b9'
	}
	];
	var context = document.getElementById('ci_received').getContext('2d');
	var ParChart = new Chart(context).Pie(CiReceivedData,newopts);  
	</script>
</div><!-- /Row 4 -->
</div><!-- /row -->
