<h1>Graphical Representation</h1>
<h2>Project % per CPAR</h2>
<!-- Row 2 -->
<!-- PAR CHART -->
<div class="col-md-4">
  <div id="par_chart" style="width:auto; height:auto;"></div>
  <script type="text/javascript">
  $(function () {
    Highcharts.setOptions(
      {colors: 
      ['#3498db', 
       '#2ecc71', 
       '#9b59b6', 
       '#f1c40f', 
       '#e74c3c', 
       '#2c3e50', 
       '#bdc3c7'],
     });
    $('#par_chart').highcharts({
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false
      },
      title: {
        text: 'PAR Breakdown'
      },
      tooltip: {
        pointFormat: '<b>{point.percentage:.1f}%</b>'
        //pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
      },
      plotOptions: {
        pie: {
          size:'75%',
          allowPointSelect: true,
          cursor: 'pointer',
          showInLegend: true,
          dataLabels: {
            enabled: true,
            color: '#000000',
            connectorColor: '#000000',
            format: '{point.percentage:.1f} %'
            //format: '<b>{point.name}</b>: {point.percentage:.1f} %'
          }
        }
      },
      credits: {
        enabled: false
      },
      series: [{
        type: 'pie',
        data: 
      [['Corporate', <%= Cpar.where(form: "Preventive Action", program: "Corporate").count %>],
      ['MCTF',<%= Cpar.where(form: "Preventive Action", program: "MCTF").count %>], 
      ['IRAD', <%= Cpar.where(form: "Preventive Action", program: "IRAD").count %>], 
      ['UAEAF', <%= Cpar.where(form: "Preventive Action", program: "UAEAF").count %>], 
      ['TAF', <%= Cpar.where(form: "Preventive Action", program: "TAF").count %>], 
      ['DAW', <%= Cpar.where(form: "Preventive Action", program: "DAW").count %>],
      ['ESTS', <%= Cpar.where(form: "Preventive Action", program: "ESTS").count %>]]
      }]
    });
  });
</script>
<!-- CAR CHART -->
<div id="car_chart" style="width:auto; height:auto;"></div>
<script type="text/javascript">
$(function () {
  Highcharts.setOptions(
    {colors: [
    '#3498db', 
    '#2ecc71', 
    '#9b59b6', 
    '#f1c40f', 
    '#e74c3c', 
    '#2c3e50', 
    '#bdc3c7'],
  });
  $('#car_chart').highcharts({
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false
    },
    title: {
      text: 'CAR Breakdown'
    },
    tooltip: {
      pointFormat: '<b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
      pie: {
        size:'75%',
        allowPointSelect: true,
        cursor: 'pointer',
        showInLegend: true,
        dataLabels: {
          enabled: true,
          color: '#000000',
          connectorColor: '#000000',
          format: '{point.percentage:.1f} %'
        }
      }
    },
    credits: {
      enabled: false
    },
    series: [{
      type: 'pie',
      data: 
      [['Corporate', <%= Cpar.where(form: "Corrective Action", program: "Corporate").count %>],
      ['MCTF',<%= Cpar.where(form: "Corrective Action", program: "MCTF").count %>], 
      ['IRAD', <%= Cpar.where(form: "Corrective Action", program: "IRAD").count %>], 
      ['UAEAF', <%= Cpar.where(form: "Corrective Action", program: "UAEAF").count %>], 
      ['TAF', <%= Cpar.where(form: "Corrective Action", program: "TAF").count %>], 
      ['DAW', <%= Cpar.where(form: "Corrective Action", program: "DAW").count %>],
      ['ESTS', <%= Cpar.where(form: "Corrective Action", program: "ESTS").count %>]]
    }]
  });
});
</script>
<!-- NCMR CHART -->
<div id="ncmr_chart" style="width:auto; height:auto;"></div>
<script type="text/javascript">
$(function () {
  Highcharts.setOptions(
    {colors: 
    ['#3498db', 
     '#2ecc71', 
     '#9b59b6', 
     '#f1c40f', 
     '#e74c3c', 
     '#2c3e50', 
     '#bdc3c7'],
   });
  $('#ncmr_chart').highcharts({
    chart: {
      plotBackgroundColor: null,
      plotBorderWidth: null,
      plotShadow: false
    },
    title: {
      text: 'NCMR Breakdown'
    },
    tooltip: {
      pointFormat: '<b>{point.percentage:.1f}%</b>'
    },
    plotOptions: {
      pie: {
        size:'75%',
        allowPointSelect: true,
        cursor: 'pointer',
        showInLegend: true,
        dataLabels: {
          enabled: true,
          color: '#000000',
          connectorColor: '#000000',
          format: '{point.percentage:.1f} %'
        }
      }
    },
    credits: {
      enabled: false
    },
    series: [{
      type: 'pie',
      data: 
      [['Corporate', <%= Cpar.where(form: "Non-Conforming Material", program: "Corporate").count %>],
      ['MCTF',<%= Cpar.where(form: "Non-Conforming Material", program: "MCTF").count %>], 
      ['IRAD', <%= Cpar.where(form: "Non-Conforming Material", program: "IRAD").count %>], 
      ['UAEAF', <%= Cpar.where(form: "Non-Conforming Material", program: "UAEAF").count %>], 
      ['TAF', <%= Cpar.where(form: "Non-Conforming Material", program: "TAF").count %>], 
      ['DAW', <%= Cpar.where(form: "Non-Conforming Material", program: "DAW").count %>],
      ['ESTS', <%= Cpar.where(form: "Non-Conforming Material", program: "ESTS").count %>]]
    }]
  });
});
</script>
</div><!-- /Row 2 -->
<div class="row">
  <div class="col-md-4">
    <div id="scar_chart" style="width:auto; height:auto;"></div>
    <script type="text/javascript">
    $(function () {
      Highcharts.setOptions(
        {colors: 
        ['#3498db', 
         '#2ecc71', 
         '#9b59b6', 
         '#f1c40f', 
         '#e74c3c', 
         '#2c3e50', 
         '#bdc3c7'],
       });
      $('#scar_chart').highcharts({
        chart: {
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false
        },
        title: {
          text: 'SCAR Breakdown'
        },
        tooltip: {
          pointFormat: '<b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
          pie: {
            size:'75%',
            allowPointSelect: true,
            cursor: 'pointer',
            showInLegend: true,
            dataLabels: {
              enabled: true,
              color: '#000000',
              connectorColor: '#000000',
              format: '{point.percentage:.1f} %'
            }
          }
        },
        credits: {
          enabled: false
        },
      series: [{
        type: 'pie',
        data: 
      [['Corporate', <%= Cpar.where(form: "Supplier Corrective Action", program: "Corporate").count %>],
      ['MCTF',<%= Cpar.where(form: "Supplier Corrective Action", program: "MCTF").count %>], 
      ['IRAD', <%= Cpar.where(form: "Supplier Corrective Action", program: "IRAD").count %>], 
      ['UAEAF', <%= Cpar.where(form: "Supplier Corrective Action", program: "UAEAF").count %>], 
      ['TAF', <%= Cpar.where(form: "Supplier Corrective Action", program: "TAF").count %>], 
      ['DAW', <%= Cpar.where(form: "Supplier Corrective Action", program: "DAW").count %>],
      ['ESTS', <%= Cpar.where(form: "Supplier Corrective Action", program: "ESTS").count %>]]
        }]
      });
    });
</script>
<div id="ci_chart" style="width:auto; height:auto;"></div>
  <script type="text/javascript">
  $(function () {
    Highcharts.setOptions(
      {colors: 
      ['#3498db', 
       '#2ecc71', 
       '#9b59b6', 
       '#f1c40f', 
       '#e74c3c', 
       '#2c3e50', 
       '#bdc3c7'],
    });
    $('#ci_chart').highcharts({
      chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false
      },
      title: {
        text: 'CI Breakdown'
      },
      tooltip: {
        pointFormat: '<b>{point.percentage:.1f}%</b>'

      },
      plotOptions: {
        pie: {
          size:'75%',
          allowPointSelect: true,
          cursor: 'pointer',
          showInLegend: true,
          dataLabels: {
            enabled: true,
            color: '#000000',
            connectorColor: '#000000',
            format: '{point.percentage:.1f} %'
          }
        }
      },
      credits: {
        enabled: false
      },
      series: [{
        type: 'pie',
        data: 
      [['Corporate', <%= Cpar.where(form: "Continual Improvement", program: "Corporate").count %>],
      ['MCTF',<%= Cpar.where(form: "Continual Improvement", program: "MCTF").count %>], 
      ['IRAD', <%= Cpar.where(form: "Continual Improvement", program: "IRAD").count %>], 
      ['UAEAF', <%= Cpar.where(form: "Continual Improvement", program: "UAEAF").count %>], 
      ['TAF', <%= Cpar.where(form: "Continual Improvement", program: "TAF").count %>], 
      ['DAW', <%= Cpar.where(form: "Continual Improvement", program: "DAW").count %>],
      ['ESTS', <%= Cpar.where(form: "Continual Improvement", program: "ESTS").count %>]]
      }]
    });
  });
</script>
</div>
</div>

