<div class="container">
  <form class="navbar-form navbar-right" role="search">
    <div class="form-group", id="form-search">
      <%= form_tag(changerequests_path, :method => "get", class: "navbar-form navbar-right") do %>
        <em><%= text_field_tag :search, params[:search], placeholder: "Search...", class: "form-control" %></em>
        <%= submit_tag "Search", :name => nil, class: "btn-sm btn-primary" %>
      <% end %>
    </div>
  </form>
<h1>Change Request Records</h1>
  <p>
    <button class="btn btn-default" type="button">    
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      <%= link_to "New Change Request Record", new_changerequest_path %>
    </button>
  </p>

  <% @changerequests.each do |changerequest| %>
  <table class="table table-hover">
    <td>   
      <h4><%= "CR00" + changerequest.id.to_s %></h4>
      
      <%= changerequest.project_name %><br>
      <%= changerequest.item_title %><br>
      <%= changerequest.approved_by %><br>

      |<%= link_to 'View', changerequest_path(changerequest), class: "btn-sm btn-primary" %>|
      |<%= link_to 'Edit', edit_changerequest_path(changerequest), class: "btn-sm btn-warning"%>|
      |<%= link_to 'Delete', changerequest_path(changerequest), class: "btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>|
    </td>
  <% end %>
  </table>
