<div class="container">
  <h1>Received Items</h1>
  <p>
      <%= link_to "Add Receive Item", new_receiveitem_path, class: "btn btn-default" %>
  </p>
  <table class="table table-bordered table table-hover">
    <tr>
      <th class="danger">Part</th>
      <th class="danger">Serial #</th>
      <th class="danger">Description</th>
      <th class="danger">Date</th>
      <th class="danger">Quantity</th>
    </tr>
    <% @ReceiveItems.each do |receiveitem| %>
    <tr>
      <td><%= receiveitem.part %></td>
      <td><%= receiveitem.serial %></td>
      <td><%= receiveitem.description %></td>
      <td><%= receiveitem.date %></td>
      <td><%= receiveitem.quantity %></td>
      <td><%= link_to 'View', receiveitem_path(receiveitem), class: "btn-sm btn-primary" %></td>
      <td><%= link_to 'Edit', edit_receiveitem_path(receiveitem), class: "btn-sm btn-warning" %></td>
      <td><%= link_to 'Delete', receiveitem_path(receiveitem), class: "btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  <% end %>
  </table>
<%= will_paginate @ReceiveItems %>
