<div class="container">
  <h1>Received Items</h1>

  <form class="navbar-form navbar-right" role="search">
    <div class="form-group", id="form-search">
      <%= form_tag(receiveitems_path, :method => "get", class: "navbar-form navbar-right") do %>
        <em>
          <%= text_field_tag :search, params[:search], placeholder: "Search...", class: "form-control" %>
        </em>
        <%= submit_tag "Search", :name => nil, class: "btn-sm btn-primary" %>
      <% end %>
    </div>
  </form>

  <p>
    <%= link_to "Add Receive Item", new_receiveitem_path, class: "btn btn-default" %>
  </p>

  <table class="table table-bordered table table-hover">
    <tr>
      <th class="danger">ID</th>
      <th class="danger">Part</th>
      <th class="danger">Serial #</th>
      <th class="danger">Description</th>
      <th class="danger">Date</th>
      <th class="danger">Quantity</th>
    </tr>
    <% @receives.each do |receiveitem| %>
    <tr>
      <td>iAT-RCV-<%= receiveitem.id %></td>
      <td><%= receiveitem.part %></td>
      <td><%= receiveitem.serial %></td>
      <td><%= receiveitem.description %></td>
      <td><%= receiveitem.date %></td>
      <td><%= receiveitem.quantity %></td>
      <td><%= link_to 'View', receiveitem_path(receiveitem), class: "btn-sm btn-primary" %></td>

    </tr>
  <% end %>
  </table>
<%= will_paginate @receives %>
