<div class="container">
	<h3>Part # <%= @ReceiveItem.part %></h3>
	
	<strong>Serial #:</strong>
	<p><%= @ReceiveItem.serial %></p>

	<strong>Date:</strong>
	<p><%= @ReceiveItem.date %></p>

	<strong>Description:</strong>
	<p><%= @ReceiveItem.description %></p>

	<strong>Quantity:</strong>
	<p><%= @ReceiveItem.quantity %></p>
	<br>

	<%= link_to "Back", receiveitems_path, class: "btn-sm btn-info" %>
  <%= link_to 'Update', edit_receiveitem_path(@ReceiveItem), class: "btn-sm btn-warning" %>
  <%= link_to 'Remove', receiveitem_path(@ReceiveItem), class: "btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>


</div>
