<div class="container">
	<table class="table table-bordered table-striped">
	  <colgroup>
	    <col class="col-md-2">
	    <col class="col-md-7">
	  </colgroup>
	  <tbody>
	    <tr>
				<td class="success"><strong>RECEIVED ITEM:</strong></td>
				<td class="success"><strong><%= @receive.part %></strong></td>
	    </tr>
	    <tr>
	    	<td><p>ID:</p></td>
        <td>iAT-RCV-<%= @receive.id %></td>
	    </tr>
	    <tr>
				<td><p>Serial #:</p></td>
				<td><%= @receive.serial %></td>
	    </tr>

			<tr>
				<td><p>Date:</p></td>
				<td><%= @receive.date %></td>
      </tr>

			<tr>
				<td><p>Description:</p></td>
				<td><%= @receive.description %></td>
      </tr>	 

			<tr>
				<td><p>Quantity:</p></td>
				<td><%= @receive.quantity %></td>
      </tr>
			
			<tr>
				<td><p>Artifacts Location on Share Drive:</p></td>
				<td><%= @receive.artifact %></td>
      </tr>		          
    </tbody>
  </table>

	<table class="table table-bordered table-striped">
		<tbody>
			<tr>
				<td>
		  		<h3>Receive Item Checklist</h3>
				</td>
			</tr>
			<tr>
				<div class="checkbox">
					<td>
					<label>
						<input type="checkbox" value="" checked="checked">
				   	Packing Slip matches contents of container.
					</label>
					</td>
				</div>
			</tr>
			
			<tr>
				<div class="checkbox">
					<td>
					<label>
			  		<input type="checkbox" value="" checked="checked">
			  		Verify PO Number / Packaging Slip Match.
					</label>
					</td>
				</div>
			</tr>

			<tr>
				<div class="checkbox">
					<td>
					<label>
			  		<input type="checkbox" value="" checked="checked">
			  		Verify PR Part Numbers and Quantities match between PO and packing slip.
					</label>
					</td>
				</div>
			</tr>

		<tr>
			<div class="checkbox">
				<td>
		  	<label>
		    	<input type="checkbox" value="" checked="checked">
		    	Sign and date packing slip to note receipt.
		  	</label>
		  	</td>
			</div>
		</tr>

		<tr>
			<div class="checkbox">
				<td>
		  	<label>
		    	<input type="checkbox" value="" checked="checked">
		    	Notify Purchasing for receipt of property and status (complete, back order, or missing material, etc)
			  </label>
				</td>
			</div>
		</tr>

		<tr>
			<td>
	  		<h4>VERIFY THE FOLLOWING:</h4>
	 	 </td>
		</tr>
	  <tr>
		  <div class="checkbox">
		  	<td>
			  <label>
			    <input type="checkbox" value="" checked="checked">
			    No visible damage to the shipping vessel
			  </label>
				</td>
			</div>
		</tr>

		<tr>
		  <div class="checkbox">
		  	<td>
			  <label>
			    <input type="checkbox" value="" checked="checked">
			    No FOD (broken parts, loose parts, etc) is visual in the shipping vessel
			  </label>
				</td>
			</div>
		</tr>

		<tr>
		  <div class="checkbox">
		  	<td>
			  <label>
			    <input type="checkbox" value="" checked="checked">
			    No visible fluid penetration to the shipping vessel
			  </label>
				</td>
			</div>
		</tr>

		<tr>
	  <div class="checkbox">
		  <td>
		  <label>
		    <input type="checkbox" value="" checked="checked"> 
		    Verify Certificate of Conformance (CoC) is provided. (applicable parts only)
		  </label>
			</td>
		</div>
		</tr>

		<tr>
	  	<div class="checkbox">
		  	<label>
		  		<td>
		    	<input type="checkbox" value="" checked="checked">
		    	Verify items against their engineering drawing receipt instructions. If non-conforming, alert QA to initiate NCM action
			  </label>
				</td>
			</div>
		</tr>

		<tr>
	  	<div class="checkbox">
	  	<td>
		 	 <label>
		    	<input type="checkbox" value="" checked="checked">
		    	Create and affix an asset tag<br>
		    	<em> Note: Aircraft kit and/or transitory parts (returned to vendor, returned from customer) shall not be tagged.</em>
		  	</label>
		  </td>
			</div>
		</tr>

		<tr>
	  <div class="checkbox">
	  	<td>
		  <label>
		    <input type="checkbox" value="" checked="checked">
		  	Add/Update Inventory Records
		  </label>
			</td>
			</div>
		</tr>

		<tr>
	  	<div class="checkbox">
		  	<td>
		  	<label>
		    	<input type="checkbox" value="" checked="checked">
		  		Attach Receipt records (DD-250, COC, DD Form 1149, ATP Results, etc.) to inventory system
			  </label>
				</td>
			</div>
		</tr>

		<tr>
	  	<div class="checkbox">
		  	<label>
		    <td>
		    	<input type="checkbox" value="" checked="checked">
		  		Notify End State User for receipt of property and status
		  	</label>
				</td>			
			</div>

  	</tbody>
  </table>

	<%= link_to "Back", receiveitems_path, class: "btn-sm btn-info" %>
  <%= link_to 'Update', edit_receiveitem_path(@receive), class: "btn-sm btn-warning" %>

</div>