<div class="container">
	<h3>Part # <%= @ReceiveItem.part %></h3>
	<strong>Serial #:</strong>
	<%= @ReceiveItem.serial %><br>
	<strong>Date:</strong>
	<%= @ReceiveItem.date %><br>
	<strong>Description:</strong>
	<%= @ReceiveItem.description %><br>
	<strong>Quantity:</strong>
	<%= @ReceiveItem.quantity %>
	<br>
	<%= link_to "Back", receiveitems_path, class: "btn btn-default" %>

</div>