<div class="container">
<h1>Documents</h1>
  <p>
    <button class="btn btn-default" type="button">    
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      <%= link_to "Upload Document", new_document_path %>
    </button>
  </p>
</h1>
  <% @documents.each do |document| %>
  <table class="table table-hover">
    <td>
      
      <h4>
        <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
        <%= document.description%>
      </h4>

      <%= document.content_type %><br>
      <%= document.filename %><br>

      |<%= link_to 'Download', document_path(document), class: "btn-sm btn-primary" %>|
      |<%= link_to 'Edit', edit_document_path(document), class: "btn-sm btn-warning"%>|
      |<%= link_to 'Delete', document_path(document), class: "btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>|
    </td>
  <% end %>
  </table>
