<div class="container">
	<h3><%= @document.name %></h3>
	
	<strong>Document Key</strong>
	<%= @document.key %><br>
	
	<strong>Description</strong>
	<%= @document.description %><br>
	
	<strong>User</strong>
	<%= @document.user %><br>
	
	<strong>Expiration Date</strong>
	<%= @document.expiration %>

</div>