<div class="container">
	<h3><%= @Document.name %></h3>
	
	<strong>Document Key</strong>
	<%= @Document.key %><br>
	
	<strong>Description</strong>
	<%= @Document.description %><br>
	
	<strong>User</strong>
	<%= @Document.user %><br>
	
	<strong>Expiration Date</strong>
	<%= @Document.expiration %>

</div>