<div class="container">
	<h1>Purchase Requisitions</h1>
	<p>
    <%= link_to "Add Requisition Purchase", new_requisition_path, class: "btn btn-default" %>
  </p>
  <table class="table table-bordered table table-hover">
    <tr>
      <th class="danger">PR Number</th>
      <th class="danger">Requestor</th>
      <th class="danger">Program</th>
      <th class="danger">Date</th>
      <th class="danger">Approver</th>
      <th class="danger">Quantity</th>
    </tr>
	<% @requisitions.each do |requisition| %>
    <tr tr data-link="<%= requisition_path(requisition) %>"> 
    	<td><%= requisition.pr_number %></td>
      <td><%= requisition.requestor %></td>
      <td><%= requisition.program %></td>
      <td><%= requisition.created_at %></td>
      <td><%= requisition.approval %></td>      
      <td><%= requisition.quantity %></td>
    </tr>
  <% end %>
  </table>

</div>