<div class="container">
	<h3>Requestor # <%= @requesition.requestor %></h3>
	<strong>Purchase #:</strong>
	<%= @requesition.pr_number %><br>
	
	<strong>Company:</strong>
	<%= @requesition.company %><br>

	<strong>Address:</strong>
	<%= @requesition.address %><br>

	<strong>Phone:</strong>
	<%= @requesition.phone %><br>

	<strong>Contact:</strong>
	<%= @requesition.contact %><br>

	<strong>Comments:</strong>
	<%= @requesition.comments %><br>

	<strong>Quantity:</strong>
	<%= @requesition.quantity %><br>

	<strong>UOM:</strong>
	<%= @requesition.uom %><br>

	<strong>Part #:</strong>
	<%= @requesition.part_number %><br>

	<strong>Description:</strong>
	<%= @requesition.description %><br>

	<strong>Unit Cost:</strong>
	<%= @requesition.unit_cost %><br>

	<strong>Total:</strong>
	<%= @requesition.total %><br>

	<strong>Requested Date:</strong>
	<%= @requesition.req_date %><br>

	<strong>Account Number:</strong>
	<%= @requesition.acct_number %><br>

	<strong>Usage</strong>
	<%= @requesition.usage %>

</div>

                       
              
                            