<div class="container">
  <table class="table table-bordered table table-hover">
    <tr>
    	<th class="danger">Requestor</th>
      <th class="danger">PR Number</th>
      <th class="danger">Requestor</th>
      <th class="danger">Program</th>
      <th class="danger">Date</th>
      <th class="danger">Approver</th>
      <th class="danger">Quantity</th>
    </tr>	
	<td><%= @requisition.requestor %></td>
  <td><%= @requisition.pr_number %></td>
  <td><%= @requisition.pr_number %></td>
  <td><%= @requisition.program %></td>
  <td><%= @requisition.created_at %></td>
  <td><%= @requisition.approval %></td>      
  <td><%= @requisition.quantity %></td>	
  </table>

  <h3>Pending Approvals</h3>
  <table class="table table-bordered table table-hover">
  <tr>  
    <th class="danger">Max Tudorov</th>
    <th class="danger">Chuck Pritchett</th>
    <th class="danger">Hasan Ramlaoui</th>
  </tr>

  <td><button class="btn btn-success">APPROVED</button></td>
  <td><button class="btn btn-success">APPROVED</button></td>
  <td><button class="btn btn-warning">Pending Approval</button></td>

  </table>
	<%= link_to "Back", requisitions_path, class: "btn btn-default" %>
	<%= link_to "Edit", edit_requisition_path(@requisition), class: "btn btn-default" %> 
</div>

           
        