<div class="container">
<h1>Shipping Items <%= link_to "Add New Shipping Item", new_shipitem_path, class: "btn btn-primary" %>
</h1>
  <% @shipitems.each do |shipitem| %>
  <table class="table table-hover">
    <td>
      <h4><%= shipitem.part%></h4>
      <%= shipitem.serial %><br>
      <%= shipitem.description %><br>
      <%= shipitem.date %><br>
      Quantity: <%= shipitem.quantity %><br>
      |<%= link_to 'View', shipitem_path(shipitem), class: "btn-sm btn-primary" %>|
      |<%= link_to 'Edit', edit_shipitem_path(shipitem), class: "btn-sm btn-warning"%>|
      |<%= link_to 'Delete', shipitem_path(shipitem), class: "btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>|
    </td>
  <% end %>
  </table>
