<div class="container">
  <h1>Shipping Items</h1>
  <p>
    <%= link_to "Add Shipping Item", new_shipitem_path, class: "btn btn-default" %>
  </p>
  </h1>
  <table class="table table-bordered table table-hover">
      <tr>
        <th class="danger">Part</th>
        <th class="danger">Serial Number</th>
        <th class="danger">Date</th>
        <th class="danger">Quantity</th>
        <th class="danger">Shipping Number</th>
      </tr>
      <% @shipitems.each do |shipitem| %>
      <tr>
        <td><%= shipitem.part %></td>
        <td><%= shipitem.serial %></td>
        <td><%= shipitem.date %></td>
        <td><%= shipitem.quantity %></td>
        <td><%= shipitem.shipping_number %></td>
        <td><%= link_to 'View', shipitem_path(shipitem), class: "btn-sm btn-primary" %></td>

      </tr>     
  <% end %>
  </table>
<%= will_paginate @shipitem %>

