<div class="container">
	<h3>Part # <%= @ShipItem.part %></h3>
	<strong>Serial #:</strong>
	<%= @ShipItem.serial %><br>
	<strong>Date:</strong>
	<%= @ShipItem.date %><br>
	<strong>Description:</strong>
	<%= @ShipItem.description %><br>
	<strong>Quantity:</strong>
	<%= @ShipItem.quantity %>
</div>