<div class="container">
	<h3>Part # <%= @shipitem.part %></h3>
	<strong>Serial #:</strong>
	<%= @shipitem.serial %><br>
	<strong>Date:</strong>
	<%= @shipitem.date %><br>
	<strong>Description:</strong>
	<%= @shipitem.description %><br>
	<strong>Quantity:</strong>
	<%= @shipitem.quantity %>
	<strong>Shipping Number:</strong>
	<%= @shipitem.shipping_number %>
	<br>
	<%= link_to "Back", shipitems_path, class: "btn btn-default" %>

</div>