<div class="container">
	<h3>iAT-00-02<%= @car.id %></h3>
	<ul>
		<li><%= @car.program %></li>
		<li><%= @car.category_phase %></li>
		<li><%= @car.cpar_source %></li>
		<li><%= @car.category_phase %></li>
		<li><%= @car.specific_source %></li>
		<li><%= @car.other_category %></li>
		<li><%= @car.raised_by %></li>
		<li><%= @car.assigned_to %></li>
		<li><%= @car.date %></li>
		<li><%= @car.raised_by_remarks %></li>
		<li><%= @car.solution_required_by_date %></li>
		<li><%= @car.solution_required_remarks %></li>
		<li><%= @car.form_completed_by %></li>
		<li><%= @car.form_completed_by_date %></li>
		<li><%= @car.form_completed_by_remarks %></li>
		<li><%= @car.finding %></li>
		<li><%= @car.finding_impact %></li>
		<li><%= @car.proposed_immediate_action %></li>
		<li><%= @car.proposed_immediate_action_completed_by %></li>
		<li><%= @car.proposed_immediate_action_date %></li>
		<li><%= @car.proposed_immediate_action_remarks %></li>
		<li><%= @car.root_cause_analysis_required %></li>
		<li><%= @car.underlying_root_cause %></li>
		<li><%= @car.determined_by %></li>
		<li><%= @car.underlying_root_cause_date %></li>
		<li><%= @car.underlying_root_cause_remarks %></li>
		<li><%= @car.proposed_action_for_longterm_solution %></li>
		<li><%= @car.proposed_action_for_longterm_solution_completed_by %></li>
		<li><%= @car.proposed_action_for_longterm_solution_date %></li>
		<li><%= @car.proposed_action_for_longterm_solution_remarks %></li>
		<li><%= @car.evaluation_of_effectiveness_of_action %></li>
		<li><%= @car.objective_evidence %></li>
		<li><%= @car.closed_out_by %></li>
		<li><%= @car.evaluation_of_effectiveness_of_action_date %></li>
		<li><%= @car.evaluation_of_effectiveness_of_action_remarks %></li>
</div>