<div class="container">
	<%= form_for @actionitem, html: {class: "form-horizontal"} do |f| %>
		<% if @actionitem.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@actionitem.errors.count, "error") %> Prohibited this post from being saved:</h2>
					<ul>
					<% @actionitem.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>  

		<h3>Details</h3>	
		<div class="row">
			<div class="col-md-6">
				<p>
			    <%= f.label :subject %><br>
			    <%= f.text_field :subject, class: "form-control  input-medium" %>
			  </p>
			 
			  <p>
			    <%= f.label :event_discussed, "Event Discussed" %><br>
			    <%= f.text_field :event_discussed, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :assigned_to %><br>
			    <%= f.text_field :assigned_to, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :project %><br>
					<%= f.select(:project, options_for_select( [['Corporate', 'Corporate'], ['MCTF', 'MCTF'],['TAF', 'TAF'], ['ESTS', 'ESTS'], ['UAEAF', 'UAEAF'], ['DAW', 'DAW'], ['IRAD', 'IRAD']] ), {}, { class: "form-control" }) %>
			  </p>
			</div>
			<div class="col-md-6">
			  <p>
			    <%= f.label :status %><br>
					<%= f.select(:status, options_for_select( [['Open', 'Open'],['Closed', 'Closed'],['Rejected', 'Rejected'],['Deferred', 'Deferred']]), {} ,{ class: "form-control" }) %>
			  </p>

			  <p>
			    <%= f.label :priority %><br>
			    <%= f.select(:priority, options_for_select( [['1. Low', 'Low'], ['2. Medium', 'Medium'], ['3. High', 'High',], ['4. Very High', 'Very High']], ), {}, { class: "form-control"}) %>
			  </p>

			  <p>
			    <%= f.label :area %><br>
			    <%= f.text_field :area, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :comment %><br>
			    <%= f.text_area :comment, class: "form-control" %>
			  </p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
		  	<h3>Project Management Fields</h3>

			  <p>
			    <%= f.label :request_due_date, "Requested Due Date" %><br>
			    <%= f.date_field :request_due_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :hours_to_completion %><br>
			    <%= f.number_field :hours_to_completion, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :completion_date %><br>
			    <%= f.date_field :completion_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :percent_complete %><br>
			    <%= f.number_field :percent_complete, class: "form-control" %>
			  </p>	 
			</div>
			
			<div class="col-md-6">
				<h3>Document Upload</h3>

			  <p>
			    <%= f.label :filename %><br>
			    <%= f.text_field :filename, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :content_type %><br>
			    <%= f.text_field :content_type, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :file_contents %><br>
			    <%= f.file_field :file_contents, class: "form-control" %>
			  </p>	 
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h3>Add People to be notified of Action Item</h3>
				<p>
			    <%= f.select(:notification, options_for_select( [['',''],['Altebarmakian, Krikor', 'krikor.altebarmakian@iaccesstech.com'],['Arkoumanis, Leon', 'leon.arkoumanis@iaccesstech.com'],['Binkley, Brian','brian.binkley@iaccesstech.com'], ['Brewer, Harry', 'harry.brewer@iaccesstech.com'],['Corteal, William','William.Corteal@iaccesstech.com'],['Cooper, Denise','denise.cooper@iaccesstech.com'],['Dial, Bill','bill.dial@iaccesstech.com'],['Duong, Neil','neil.duong@iaccesstech.com'], ['Fujita, Marie','marie.fujita@iaccesstech.com'],['Gieringer, Mark','Mark.Gieringer@iaccesstech.com'], ['Hansen, David', 'david.hansen@iaccesstech.com'],['Herrera, Ron','ron.herrera@iaccesstech.com'],['Jenkins, Keith', 'keith.jenkins@iaccesstech.com'],['Joma, Mike','mike.joma@iaccesstech.com'],['Kanj, Rami','rami.kanj@iaccesstech.com'],['Lawson, James','james.lawson@iaccesstech.com'],['Luong, Vinson','vinson.luong@iaccesstech.com'],['Neal, Gordon','gordon.neal@iaccesstech.com'],['Nguyen, Dung','dung.nguyen@iaccesstech.com'],['Ostrowski, Christine','christine.ostrowski@iaccesstech.com'],['Paul, Travis','travis.paul@iaccesstech.com'],['Pritchett, Chuck','chuck.pritchett@iaccesstech.com'],['Ramlaoui, Ali','ali.ramlaoui@iaccesstech.com'],['Ramlaoui, Hasan','hasan.i.ramlaoui@iaccesstech.com'],['Rau, Bill','bill.rau@iaccesstech.com'],['Read, Brett','Brett.Read@iaccesstech.com'],['Reichard, Eric','Eric.Reichard@iaccesstech.com'],['Reedy, Michael','michael.reedy@iaccesstech.com'],['Shirah, Susan','Susan.Shirah@iaccesstech.com'],['Shirakawa, Kayo','kayo.shirakawa@iaccesstech.com'],['Stadt, Robert','robert.stadt@iaccesstech.com'],['Starks, Charles','charles.starks@iaccesstech.com'],['Tarbaux, John','john.tarbaux@iaccesstech.com'],['Thorpe, Nick','nick.thorpe@iaccesstech.com'],['Todorov, Max','max.todorov@iaccesstech.com'],['Wilhelm, John','John.Wilhelm@iaccesstech.com'],['Wilson, Paul','paul.m.wilson@iaccesstech.com'],['Zaidi, Ali','ali.zaidi@iaccesstech.com'],['Zeleznik, George','george.zeleznik@iaccesstech.com'] ], ), {}, { class: "form-control"}) %>			  
			  </p>	 
			</div>
		</div>
		<br>
	  <p>
	    <%= f.submit "Submit", class: "btn btn-lg btn-primary btn-block" %>
	  </p>
	
	<% end %>
	
	<%= link_to "Back", actionitems_path, class: "btn btn-default" %>

</div>

