<div class="container">
	<%= form_for @actionitem, html: {class: "form-horizontal"} do |f| %>
		<% if @actionitem.errors.any? %>
				<div id="error_explanation">
					<h2><%= pluralize(@actionitem.errors.count, "error") %> Prohibited this post from being saved:</h2>
					<ul>
					<% @actionitem.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
				</ul>
			</div>
		<% end %>  

		<h3>Details</h3>	
		<div class="row">
			<div class="col-md-6">
				<p>
			    <%= f.label :subject %><br>
			    <%= f.text_field :subject, class: "form-control  input-medium" %>
			  </p>
			 
			  <p>
			    <%= f.label :event_discussed, "Event Discussed" %><br>
			    <%= f.text_field :event_discussed, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :assigned_to %><br>
			    <%= f.text_field :assigned_to, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :project %><br>
			    <%= f.text_field :project, class: "form-control" %>
			  </p>
			</div>
			<div class="col-md-6">
			  <p>
			    <%= f.label :status %><br>
			    <%= f.text_field :status, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :priority %><br>
			    <%= f.text_field :priority, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :area %><br>
			    <%= f.text_field :area, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :comment %><br>
			    <%= f.text_area :comment, class: "form-control" %>
			  </p>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
		  	<h3>Project Management Fields</h3>

			  <p>
			    <%= f.label :request_due_date, "Requested Due Date" %><br>
			    <%= f.date_field :request_due_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :hours_to_completion %><br>
			    <%= f.text_field :hours_to_completion, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :completion_date %><br>
			    <%= f.date_field :completion_date, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :percent_complete %><br>
			    <%= f.text_field :percent_complete, class: "form-control" %>
			  </p>	 
			</div>
			
			<div class="col-md-6">
				<h3>Document Upload</h3>

			  <p>
			    <%= f.label :filename %><br>
			    <%= f.text_field :filename, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :content_type %><br>
			    <%= f.text_field :content_type, class: "form-control" %>
			  </p>

			  <p>
			    <%= f.label :file_contents %><br>
			    <%= f.file_field :file_contents, class: "form-control" %>
			  </p>	 
			</div>
		</div>

	  <p>
	    <%= f.submit "Submit", class: "btn btn-lg btn-primary btn-block" %>
	  </p>
	
	<% end %>
	
	<%= link_to "Back", actionitems_path, class: "btn btn-default" %>

</div>

