<div class="container">
  <form class="navbar-form navbar-right" role="search">
    <div class="form-group", id="form-search">
      <%= form_tag(actionitems_path, :method => "get", class: "navbar-form navbar-right") do %>
        <em><%= text_field_tag :search, params[:search], placeholder: "Search...", class: "form-control" %></em>
        <%= submit_tag "Search", :name => nil, class: "btn-sm btn-primary" %>
      <% end %>
    </div>
  </form>
  <div class="col-md-12">
    <% @actionitems.each do |actionitem| %>
    <table class="table table-bordered table table-hover">
    <tr>
      <th class="success">iAT #</th>
      <th>Subject</th>
      <th>Assigned To</th>
      <th>Date Last Modified</th>
      <th>Priority</th>
    </tr>
    <tr>
      <td><h5>iAT-<%= @project_id %><%= actionitem.id %></td>
      <td><%= actionitem.subject %></td>        
      <td><%= actionitem.event_discussed %></td> 
      <td><%= actionitem.updated_at %></td>
      <td><h5>Priority</h5></td>
    </tr>
    </table>
      |<%= link_to 'View', actionitem_path(actionitem), class: "btn-sm btn-primary" %>|
      |<%= link_to 'Edit', edit_actionitem_path(actionitem), class: "btn-sm btn-warning"%>|
      |<%= link_to 'Delete', actionitem_path(actionitem), class: "btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>|
  <% end %>
</div>

</div><!-- /container