<div class="container">
  <form class="navbar-form navbar-right" role="search">
    <div class="form-group", id="form-search">
      <%= form_tag(actionitems_path, :method => "get", class: "navbar-form navbar-right") do %>
        <em><%= text_field_tag :search, params[:search], placeholder: "Search...", class: "form-control" %></em>
        <%= submit_tag "Search", :name => nil, class: "btn-sm btn-primary" %>
      <% end %>
    </div>
  </form>
  <div class="col-md-12">
    <table class="table table-bordered table table-hover">
    <tr>
      <th class="success">iAT #</th>
      <th>Subject</th>
      <th>Assigned To</th>
      <th>Date Last Modified</th>
      <th>Priority</th>
    </tr>
    <% @actionitems.each do |actionitem| %>
    <tr>
      <td><h5>iAT-00-<%= actionitem.id %></td>
      <td><%= actionitem.subject %></td>        
      <td><%= actionitem.assigned_to %></td> 
      <td><%= actionitem.updated_at %></td>
      <td><%= actionitem.priority %></td>
    </tr>
  <% end %>
  </table>

</div>

</div><!-- /container