<div class="container">
  <form class="navbar-form navbar-right" role="search">
    <div class="form-group", id="form-search">
      <%= form_tag(actionitems_path, :method => "get", class: "navbar-form navbar-right") do %>
        <em><%= text_field_tag :search, params[:search], placeholder: "Search...", class: "form-control" %></em>
        <%= submit_tag "Search", :name => nil, class: "btn-sm btn-primary" %>
      <% end %>
    </div>
  </form>
  <h1>Action Items <%= link_to "Create New Action Item", new_actionitem_path,class: "btn btn-primary" %></h1>
  <div class="col-md-6">
    <% @actionitems.each do |actionitem| %>
    <table class="table table-hover">
      <td>   
        
        <h3><%= actionitem.subject %></h3>
        <strong>Event Discussed:</strong> <%= actionitem.event_discussed %><br>
        <strong>Assigned to:</strong> <%= actionitem.assigned_to %><br>
        <strong>Project: </strong><%= actionitem.project %><br>
        <strong>Status: </strong><%= actionitem.status %><br><br>

        |<%= link_to 'View', actionitem_path(actionitem), class: "btn-sm btn-primary" %>|
        |<%= link_to 'Edit', edit_actionitem_path(actionitem), class: "btn-sm btn-warning"%>|
        |<%= link_to 'Delete', actionitem_path(actionitem), class: "btn-sm btn-danger", method: :delete, data: { confirm: "Are you sure?" } %>|
      </td>
    <% end %>
    </table>
  </div>
  <div class="col-md-6">
    <%= render 'shared/actionitems_open' %>
  </div>
</div><!-- /container