<div class="container">
  <div class="col-md-12">
  <table class="table table-bordered table-striped">
    <tbody>
      <colgroup>
        <col class="col-md-3">
        <col class="col-md-7">
      </colgroup>
      <tr>
        <td class="success"><strong>Subject</strong></td>
        <td class="success"><%= @actionitem.subject %></td>
      </tr>
      <tr>
        <td>Number:</td>
        <td>iAT-00-<%= @actionitem.id %></td>
      </tr>
    <!-- <h3>Details</h3> -->
    <tr>
      <td>Event Discussed:</td>
      <td><%= @actionitem.event_discussed %></td>
    </tr>
    <tr>
      <td>Assigned To:</td>
      <td><%= @actionitem.assigned_to %></td>
    </tr>
    <tr>
      <td>Project:</td>
      <td><%= @actionitem.project %></td>
    </tr>
    <tr>
      <td>Status:</td>
      <td><%= @actionitem.status %></td>
    </tr>
    <tr>
      <td>Priority:</td>
      <td><%= @actionitem.priority %></td>
    </tr>
    <tr>
      <td>Area:</td>
      <td><%= @actionitem.area %></td>
    </tr>
    <tr>
      <td>Comment:</td>
      <td><%= @actionitem.comment %></td>
    </tr>
    <!-- <h3>Project Management</h3> -->

    <tr>
      <td>Requested Due Date:</td>
      <td><%= @actionitem.request_due_date %></td>
    </tr>
    <tr>
      <td>Hours to Completition:</td>
      <td><%= @actionitem.hours_to_completion %></td>
    </tr>
    <tr>
      <td>Completition Date:</td>
      <td><%= @actionitem.completion_date %></td>
    </tr>
    <tr>
      <td>Percentage Completed:</td>
      <td><%= @actionitem.percent_complete %></td>
    </tr>

    <!-- <h3>Notified Users</h3> -->
    <tr>
      <td>Notified Users</td>
      <td><%= @actionitem.notification.split(',') %></td>
    </tr>
  </table>

    <%= link_to 'Back', actionitems_path, class: "btn-sm btn-primary" %>
    <%= link_to 'Update', edit_actionitem_path(@actionitem), class: "btn-sm btn-warning"%>

  </div>
  
  <div class="col-md-12">
    <div id="percentage_completed" style="width:auto; height:auto;"></div>
      <script type="text/javascript">
      $(function () {
        Highcharts.setOptions(
          {colors: ['#3498db','#e74c3c'],});
        $('#percentage_completed').highcharts({
          chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
          },
          title: {
            text: "<%= @actionitem.subject %>"
          },
          tooltip: {
            pointFormat: '<b>{point.percentage:.1f}%</b>'
          },
          plotOptions: {
            pie: {
              size:'100%%',
              allowPointSelect: true,
              cursor: 'pointer',
              showInLegend: true,
              dataLabels: {
                enabled: true,
                color: '#000000',
                connectorColor: '#000000',
                format: '{point.percentage:.1f} %'
              }
            }
          },
          credits: {
            enabled: false
          },
          series: [{
            type: 'pie',
            data: 
            [['Completed', <%= @actionitem.percent_complete %>],
            ['Remaining', <% if (@actionitem.percent_complete != nil) %>
                            <%= 100 - @actionitem.percent_complete %>
                          <% end %>]]
          }]
        });
      });
    </script>
  </div>
</div>
